<header>
    <div class="allnav">
        <ul>
            <li><a href="/admin/member/memberList">회원관리</a></li>
            <li><a href="#none">가맹점관리</a></li>
            <li><a href="#none">문자관리</a></li>
            <li><a href="#none">충전관리</a></li>
            <li><a href="#none">디자인관리</a></li>
            <li><a href="#none">환경설정</a></li>
        </ul>
    </div>

    <div class="nav_close">
        <div class="open_are">
            <h2>ADMIN</h2>
            <div class="user">
                <div class="thum">
                    <img src="/admin/images/data/user.png">
                </div>
                <p><b><%- memberInfo.mb_name %></b> 님 안녕하세요.</p>
            </div>

            <div class="logout">
                <a href="/doLogout" class="out"> 로그아웃 </a>
                <a href="/admin" class="home"><img src="/admin/images/home_icon.png"></a>
            </div>

            <div class="nav">
                <%- include('./sideMenu.html', {}) %>
            </div>
        </div>
    </div>
</header>

<script>
$(".nav_close .open_btn").click(function () {
    if ($(".nav_close").hasClass("nav_open")) {
        $(".nav_close").removeClass("nav_open");
    } else {
        $(".nav_close").addClass("nav_open");
    }
});

$(".nav01 .open_sub").click(function () {
    if ($(".subnav01").hasClass("atv")) {
        $(".subnav01").removeClass("atv");
    } else {
        $(".subnav01").addClass("atv");
    }
});

$(".nav02 .open_sub").click(function () {
    if ($(".subnav02").hasClass("atv")) {
        $(".subnav02").removeClass("atv");
    } else {
        $(".subnav02").addClass("atv");
    }
});

$(".nav03 .open_sub").click(function () {
    if ($(".subnav03").hasClass("atv")) {
        $(".subnav03").removeClass("atv");
    } else {
        $(".subnav03").addClass("atv");
    }
});

$('.btn-example').click(function () {
    var $href = $(this).attr('href');
    layer_popup($href);
});

function layer_popup(el) {

    var $el = $(el); //레이어의 id를 $el 변수에 저장
    var isDim = $el.prev().hasClass('dimBg'); //dimmed 레이어를 감지하기 위한 boolean 변수

    isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

    var $elWidth = ~~($el.outerWidth()), $elHeight = ~~($el
        .outerHeight()), docWidth = $(document).width(), docHeight = $(
            document).height();

    // 화면의 중앙에 레이어를 띄운다.
    if ($elHeight < docHeight || $elWidth < docWidth) {
        $el.css({
            marginTop: -$elHeight / 2,
            marginLeft: -$elWidth / 2
        })
    } else {
        $el.css({
            top: 0,
            left: 0
        });
    }

    $el.find('a.btn-layerClose').click(function () {
        isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
        return false;
    });

    $('.layer .dimBg').click(function () {
        $('.dim-layer').fadeOut();
        return false;
    });
}

function showtime() {
    var nowTime = new Date();//        
    var hours = nowTime.getHours();//       
    var minutes = nowTime.getMinutes();//       
    var seconds = nowTime.getSeconds();//      
    var timer = " " + ((hours > 12) ? hours - 12 : hours) + ":";//         timer
    timer += ((minutes < 10) ? "0" : "") + minutes + ":";//         timer
    timer += ((seconds < 10) ? "0" : "") + seconds;//        timer

    timer += " " + ((hours > 12) ? "pm" : "am");//   am pm    timer
    document.getElementById('clock').innerHTML = timer;
    setTimeout("showtime()", 1000);

    var today = new Date();
    var d = new Array("   ", "   ", "   ", "   ", "   ", "   ", "   ")
    //   2014 ，getYear  2014-1900=114，getFullYear  2014
    var hh = "<font>" + today.getFullYear() + " 년 "
        + (today.getMonth() + 1) + " 월 " + today.getDate() + " 일 "
        + d[today.getDay()] + "</font>";
    document.getElementById('todayIs').innerHTML = hh;

}
</script>