<section class="main">
    <div class="title">
        <h2>관리자메인</h2>
        <div class="time">
            <span id="todayIs"> 2022년 10월 18일 </span> <span> <b> <span>
                <img src="/admin/images/time.png">
                </span> <em id="clock" style="font-style: normal"></em>
            </b>
            </span>
        </div>

    </div>

    <div class="tab_are">
        <ul class="left">
            <li><b>신규가입회원 5건 목록</b></li>
        </ul>
        <ul class="right">
            <li>총 회원수 <b>4</b>명 중 차단 <b>0</b>명, 탈퇴 <b>1</b>명
            </li>
            <li><a href="#layer1" class="btn-example"
                style="margin-left: 10px"> 회원 전체보기</a></li>
        </ul>
    </div>

    <div class="table_are">
        <div class="table">
            <table>
                <tr>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>닉네임</th>
                    <th>등급</th>
                    <th>포인트</th>
                    <th>수신</th>
                    <th>공개</th>
                    <th>인증</th>
                    <th>차단</th>
                </tr>
                <tr>
                    <td>cccc</td>
                    <td>홍길동</td>
                    <td>홍마담</td>
                    <td>10</td>
                    <td>2,000</td>
                    <td>예</td>
                    <td>예</td>
                    <td>예</td>
                    <td>아니오</td>
                </tr>
                <tr>
                    <td>cccc</td>
                    <td>홍길동</td>
                    <td>홍마담</td>
                    <td>10</td>
                    <td>2,000</td>
                    <td>예</td>
                    <td>예</td>
                    <td>예</td>
                    <td>아니오</td>
                </tr>
                <tr>
                    <td>cccc</td>
                    <td>홍길동</td>
                    <td>홍마담</td>
                    <td>10</td>
                    <td>2,000</td>
                    <td>예</td>
                    <td>예</td>
                    <td>예</td>
                    <td>아니오</td>
                </tr>
                <tr>
                    <td>cccc</td>
                    <td>홍길동</td>
                    <td>홍마담</td>
                    <td>10</td>
                    <td>2,000</td>
                    <td>예</td>
                    <td>예</td>
                    <td>예</td>
                    <td>아니오</td>
                </tr>
                <tr>
                    <td>cccc</td>
                    <td>홍길동</td>
                    <td>홍마담</td>
                    <td>10</td>
                    <td>2,000</td>
                    <td>예</td>
                    <td>예</td>
                    <td>예</td>
                    <td>아니오</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="tab_are">
        <ul class="left">
            <li><b>최근게시물</b></li>
        </ul>
        <ul class="right">
            <li><a href="#layer1" class="btn-example"> 최근게시물 더보기</a></li>
        </ul>
    </div>

    <div class="table_are">
        <div class="table">
            <table>
                <tr>
                    <th>그룹</th>
                    <th>게시판</th>
                    <th>제목</th>
                    <th>이름</th>
                    <th>일자</th>
                </tr>
                <tr>
                    <td>게시판</td>
                    <td>공지사항</td>
                    <td>안녕하세요</td>
                    <td>홍길동</td>
                    <td>2022.11.11</td>
                </tr>
                <tr>
                    <td>게시판</td>
                    <td>공지사항</td>
                    <td>안녕하세요</td>
                    <td>홍길동</td>
                    <td>2022.11.11</td>
                </tr>
                <tr>
                    <td>게시판</td>
                    <td>공지사항</td>
                    <td>안녕하세요</td>
                    <td>홍길동</td>
                    <td>2022.11.11</td>
                </tr>
                <tr>
                    <td>게시판</td>
                    <td>공지사항</td>
                    <td>안녕하세요</td>
                    <td>홍길동</td>
                    <td>2022.11.11</td>
                </tr>
            </table>
        </div>
    </div>
</section>

<div id="layer1" class="pop-layer">
    <div class="dim"></div>
    <div class="pop-container">
        <div class="head_pop">
            <h2>신규 등록</h2>
            <a href="#" class="btn-layerClose"><img src="/images/close_pop.png"></a>
        </div>
        <div class="pop_form_are">
            <ul>
                <li>
                    <p>이용상품</p> <select>
                        <option>일300</option>
                        <option>일200</option>
                        <option>일100</option>
                </select>
                </li>
                <li>
                    <p>고객 아이디</p> <input type="text" placeholder="nowandnew">
                </li>
            </ul>
            <ul>
                <li>
                    <p>시작일</p> <input type="date">
                </li>
                <li>
                    <p>기간설정</p> <input type="date">
                </li>
            </ul>
            <ul>
                <li>
                    <p>nvMid / nvMid2</p> <input type="text" placeholder="상품 MID">
                </li>
                <li>
                    <p></p> <input type="text" placeholder="판매처 MID">
                </li>
            </ul>
            <ul>
                <li class="w100">
                    <p>순위검색어</p> <input type="text" placeholder="">
                </li>
            </ul>
            <ul>
                <li class="w100">
                    <p>작업검색어</p> <input type="text" placeholder="">
                </li>
            </ul>
        </div>
        <div class="pop_btn">
            <a href="#none" class="okbtn">신규 등록</a> <a href="#" class="btn-layerClose"> 등록취소 </a>
        </div>
    </div>
</div>

<div id="layer2" class="pop-layer">
    <div class="dim"></div>
    <div class="pop-container">
        <div class="head_pop">
            <h2>작업 설정</h2>
            <a href="#" class="btn-layerClose"> <img
                src="/images/close_pop.png">
            </a>
        </div>
        <div class="pop_form_are">
            <ul>
                <li>
                    <p>이용상품 변경</p> 
                    <select>
                            <option>일300</option>
                            <option>일200</option>
                            <option>일100</option>
                    </select>
                </li>
                <li>
                    <p>고객 아이디</p> <span>nowandnew</span>
                </li>
            </ul>
            <ul>
                <li>
                    <p>등록일</p> <span>22-09-02</span>
                </li>
                <li>
                    <p>기간설정</p> <input type="date">
                </li>
            </ul>
            <ul>
                <li>
                    <p>nvMid / nvMid2</p> <input type="text" placeholder="상품 MID">
                </li>
                <li>
                    <p></p> <input type="text" placeholder="판매처 MID">
                </li>
            </ul>
            <ul>
                <li class="w100">
                    <p>순위검색어</p> <input type="text" placeholder="">
                </li>
            </ul>
            <ul>
                <li class="w100">
                    <p>작업검색어</p> <input type="text" placeholder="">
                </li>
            </ul>
        </div>
        <div class="pop_btn">
            <a href="#none" class="okbtn">설정완료</a> <a href="#"
                class="btn-layerClose"> 설정취소 </a>
        </div>
    </div>
</div>

<div id="layer3" class="pop-layer">
    <div class="dim"></div>
    <div class="pop-container">
        <div class="head_pop" style="background: #0BC167">
            <h2 style="color: #fff">N쇼핑 순위</h2>
            <a href="#" class="btn-layerClose"> <img src="/images/close_pop.png"></a>
        </div>
        <div class="pop_form_are">
            <div class="table">
                <table>
                    <tr>
                        <th>변동일시</th>
                        <th>검색순위</th>
                        <th>최초대비</th>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="down"> [ <span>
                                    <img src="/images/down.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                    <tr>
                        <td>2022-10-17 18:08ㅣ13</td>
                        <td>17</td>
                        <td class="updown"><b>17</b> <b class="up"> [ <span>
                                    <img src="/images/up.png">
                            </span> 1]
                        </b></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="pop_btn">
            <a href="#none" class="okbtn">설정완료</a> <a href="#"
                class="btn-layerClose"> 설정취소 </a>
        </div>
    </div>
</div>