<ul>
    <li class="side_menu" id="member" style="display:none;">
        <a href="javascript:void(0);" class="open_sub">
            <span><img src="/admin/images/member.png"></span>회원관리
        </a>
        <div class="sub_nav subnav">
            <a href="javascript:void(0);" onclick="route_('/admin/member/memberList')">회원 정보관리</a>
            <a href="javascript:void(0);" onclick="route_('/admin/member/memberForm')">회원 신규등록</a>
        </div>
    </li>
    <!-- 최고관리자만 노출 -->
    <li class="side_menu" id="partner" style="display:none;">
        <a href="javascript:void(0);" class="open_sub">
            <span><img src="/admin/images/member.png"></span>가맹점관리
        </a>
        <div class="sub_nav subnav">
            <a href="javascript:void(0);" onclick="route_('/admin/partner/partnerList')">가맹점 정보관리</a>
            <a href="javascript:void(0);" onclick="route_('/admin/partner/partnerForm')">가맹점 신규신청</a>
            <a href="javascript:void(0);" onclick="route_('/admin/partner/partnerFeeList')">가맹점 사용료관리</a>
            <a href="javascript:void(0);" onclick="route_('/admin/partner/partnerChargeList')">가맹점 충전관리</a>
        </div>
    </li>
    <li class="side_menu" id="sms" style="display:none;">
        <a href="javascript:void(0);" class="open_sub">
            <span><img src="/admin/images/member.png"></span>문자관리
        </a>
        <div class="sub_nav subnav">
            <a href="javascript:void(0);" onclick="route_('/admin/sms/smsTemplate')">문자 관리</a>
            <a href="javascript:void(0);" onclick="route_('/admin/sms/smsLog')">문자 내역관리</a>
        </div>
    </li>
    <li class="side_menu" id="point" style="display:none;">
        <a href="javascript:void(0);" class="open_sub">
            <span><img src="/admin/images/member.png"></span>포인트관리
        </a>
        <div class="sub_nav subnav">
            <a href="javascript:void(0);" onclick="route_('/admin/point/pointList')">포인트 정보관리</a>
            <a href="javascript:void(0);" onclick="route_('/admin/point/pointChargeList')">포인트 충전관리</a>
        </div>
    </li>
    <li class="side_menu" id="deign" style="display:none;">
        <a href="javascript:void(0);" class="open_sub">
            <span><img src="/admin/images/member.png"></span>디자인관리
        </a>
        <div class="sub_nav subnav">
            <a href="javascript:void(0);" onclick="route_('/admin/deign/bannerList')">배너 관리</a>
            <a href="javascript:void(0);" onclick="route_('/admin/deign/logoForm')">로고 관리</a>
            <a href="javascript:void(0);" onclick="route_('/admin/deign/popupList')">팝업 관리</a>
        </div>
    </li>
    <li class="side_menu" id="config" style="display:none;">
        <a href="javascript:void(0);" class="open_sub">
            <span><img src="/admin/images/member.png"></span>환경설정
        </a>
        <div class="sub_nav subnav">
            <a href="javascript:void(0);" onclick="route_('/admin/config/configForm')">기본환경설정</a>
            <a href="javascript:void(0);" onclick="route_('/admin/config/configSmsForm')">SMS환경설정</a>
            <!-- 가맹점만 노출 -->
            <a href="javascript:void(0);" onclick="route_('/admin/config/ptSmsCharge')">SMS충전신청</a>
            <a href="javascript:void(0);" onclick="route_('/admin/config/ipAccess')">차단 IP설정</a>
        </div>
    </li>
</ul>

<script>
    try {
        let url      = window.location.pathname;
        let urlSplit = url.split('/');
        let url_path = urlSplit[2];
        let el       = '#' + url_path;

        $(el).css('display', 'block');
        $(el + ' .subnav').addClass('atv');
    } catch (error) {
        location.href = '/error';
    }
</script>