<ul>
    <li class="nav01" id="member" style="display:none;">
        <a href="javascript:void(0);" class="open_sub">
            <span><img src="/admin/images/member.png"></span>회원관리
        </a>
        <div class="sub_nav subnav01">
            <a href="javascript:void(0);" onclick="route_('/admin/member/memberList')">회원 목록</a>
            <a href="javascript:void(0);" onclick="route_('/admin')">회원포인트관리</a>
        </div>
    </li>
    <li class="nav01" id="partner" style="display:none;">
        <a href="javascript:void(0);" class="open_sub">
            <span><img src="/admin/images/member.png"></span>가맹점관리
        </a>
        <div class="sub_nav subnav01">
            <a href="javascript:void(0);" onclick="route_('/admin/partner/partnerList')">가맹점 정보관리</a>
            <a href="#">가맹점 신규신청</a>
            <a href="#">가맹점 사용내역</a>
            <a href="#">가맹점 충전관리</a>
            <a href="#">가맹점 충전내역</a>
        </div>
    </li>
    <!--
    <li class="nav02" id="shopMenu" style="display:none;">
        <a href="#none" class="open_sub">
            <span><img src="/admin/images/shop.png"></span> SHOP
        </a>
        <div class="sub_nav subnav02">
            <a href="/admin/test/12">쇼핑몰현황</a>
            <a href="/admin/test/3">쇼핑몰설정 </a>
            <a href="/admin/test/10">주문내역 </a>
            <a href="/admin/test/9">주문 내역 수정 </a>
            <a href="/admin/test/7">상품관리 </a>
            <a href="/admin/test/6">상품 입력 </a>
            <a href="/admin/test/2">분류관리 </a>
            <a href="#">분류순서관리 </a>
            <a href="/admin/test/1">분류추가 </a>
        </div>
    </li>
    <li class="nav03">
        <a href="#none" class="open_sub">
            <span><img src="/admin/images/shop.png"></span> 기타
        </a>
        <div class="sub_nav subnav03">
            <a href="/admin/test/4">COUPANG </a>
            <a href="/admin/test/5">관리자메인 </a>
            <a href="/admin/test/8">회원관리 </a>
            <a href="/admin/test/11">검색 순위추적</a>
        </div>
    </li>
    -->
</ul>

<script>
    try {
        let url = window.location.pathname;
        let urlSplit = url.split('/');
        let url_path = urlSplit[2];
        $('#'+url_path).css('display', 'block');
    } catch (error) {
        location.href = '/error';
    }
</script>