@import	url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.kofont {
	font-family: 'Noto Sans KR', sans-serif;
}

.enfont {
	font-family: 'Montserrat', sans-serif;
}

* {
	box-sizing: border-box
}

html {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 10px;
	font-weight: 300;
	line-height: 0;
	letter-spacing: -0.05em;
	background: #f9f9f9;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-size: 1.6rem;
	color: #222;
	line-height: 1.3;
	overflow-x: hidden;
	position: relative;
	background: #f9f9f9;
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, select, option, input {
	margin: 0;
	padding: 0;
	font: inherit;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	color: #222;
	outline: none;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	color: #222;
}

::placeholder {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

button {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0 none;
	background: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
}

img {
	max-width: 100%;
	border: 0 none;
	vertical-align: middle;
}

strong {
	font-weight: 600;
}

a {
	color: inherit;
	text-decoration: none;
}

.nav_close {
	position: fixed;
	width: 300px;
	background: #121217;
	height: 100%;
	transition-duration: 0.5s;
	z-index: 9999
}

.nav_close a {
	display: block;
	line-height: 40px;
	text-align: center;
}

.nav_close a.open_btn {
	height: 40px;
	width: 40px;
	background: #F9BC20;
}

.nav_close.nav_open a.open_btn {
	height: 40px;
	width: 40px;
	background: #F9BC20;
	position: absolute;
	right: 0;
	top: 0
}

.open_are h2 {
	color: #fff;
	padding: 30px 15px 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center
}

.user {
	text-align: center;
	padding: 20px 0 20px;
}

.user .thum {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50px;
	position: relative;
	margin: 0 auto
}

.user .thum img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	max-width: inherit;
	height: 100%
}

.user p {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	margin-top: 10px;
}

.user p b {
	font-size: 16px;
	font-weight: 400;
}

.nav_close .nav {
	margin-top: 30px;
	border-top: 1px solid rgba(249, 188, 32, 0.3)
}

.nav_close .nav a {
	text-align: left;
	padding: 10px 15px;
	color: #fff;
	font-size: 16px;
}

.nav_close .nav a span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -3px
}

.nav_close .nav .sub_nav a {
	background: #333333;
	padding-left: 40px;
	border-bottom: 1px solid #121217
}

.subnav {
	opacity: 0;
	overflow: hidden;
	height: 0;
	transition-duration: 0.5s
}

.subnav.atv {
	opacity: 1;
	height: auto;
	transition-duration: 0.5s
}

.logout {
	text-align: center;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center
}

.logout a {
	color: #fff;
	border: 1px solid rgba(255, 255, 255, .5);
	display: inline-block;
	padding: 0px 20px;
	border-radius: 50px;
	line-height: normal;
	height: 30px;
	line-height: 30px;
	margin: 0 2px;
	font-size: 14px
}

.logout a.out:hover {
	background: #fff;
	color: #222;
	transition-duration: 0.5s
}

.logout a.home {
	padding: 0 10px
}

.logout a.home img {
	margin-top: -4px
}

.logout a.home:hover {
	background-color: #F9BC20;
	color: #fff;
	transition-duration: 0.5s
}

section.main {
	padding: 100px 30px 50px 350px
}

.title {
	position: relative
}

.title h2 {
	font-weight: bold;
	font-size: 30px;
}

.title .time {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 25px;
}

.title .time span {
	margin-right: 10px;
	vertical-align: middle
}

.title .time span b {
	display: inline-block;
	color: #F9BC20;
	font-weight: 600;
	font-size: 25px;
	background: #121217;
	padding: 5px 15px;
	border-radius: 50px;
	position: relative;
	padding-left: 50px;
}

.title .time span b span {
	position: absolute;
	left: 15px;
	top: 3px
}

.tab_are_pop {
	display: flex;
	padding: 5px 15px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
	margin-top: 15px;
	align-items: center;
	justify-content: space-between;
}

.tab_are_pop.top {
	margin-top: 15px
}

.tab_are_pop ul li {
	display: inline-block;
	margin-right: 3px
}

.tab_are_pop ul li a {
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	border: 1px solid #dfdfdf;
	padding: 5px 15px;
	color: #222
}

.tab_are_pop ul li a.on {
	background: #121217;
	color: #fff
}

.tab_are_pop ul li a:hover {
	background: #121217;
	color: #fff;
	transition-duration: 0.5s
}

.tab_are_pop ul li a.on2 {
	background: #121217;
	color: #fff;
	border-radius: 0;
	padding: 4px 15px;
	font-size: 16px;
}

.tab_are_pop ul li a.on3 {
	background: #F9BC20;
	color: #000;
	border-radius: 0;
	padding: 8px 15px;
	font-size: 16px;
	font-weight: 500
}

.tab_are_pop ul li p {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 5px
}

.tab_are_pop ul li select {
	padding: 4px 10px;
	font-size: 16px;
	min-width: 120px;
	border: 1px solid #dfdfdf;
	outline: none
}

.tab_are_pop ul li input {
	padding: 4px 10px;
	font-size: 16px;
	min-width: 150px;
	border: 1px solid #dfdfdf;
	outline: none
}

.tab_are_pop ul.left.flex {
	display: flex;
	align-items: flex-end;
}

.tab_are_pop ul.left {
	text-align: left
}

.tab_are_pop ul.right {
	text-align: right
}

.tab_are_pop ul.right li {
	margin-right: 0;
	margin-left: 3px
}

.tab_are_pop ul li input[type="radio"] {
	min-width: auto;
	margin: 0 5px;
}

.tab_are_pop ul li input[type="checkbox"] {
	min-width: auto;
	margin: 0 5px;
}

.tab_are_pop.noflex {
	display: block
}

.tab_are_pop.noflex ul {
	border-bottom: 1px solid #dfdfdf;
	padding: 5px 0
}



.tab_are {
	display: flex;
	padding: 20px 15px;
	border-radius: 15px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
	margin-top: 15px;
	align-items: center;
	justify-content: space-between;
}

.tab_are.top {
	margin-top: 15px
}

.tab_are ul li {
	display: inline-block;
	margin-right: 3px
}

.tab_are ul li a {
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	border: 1px solid #dfdfdf;
	padding: 5px 15px;
	color: #222
}

.tab_are ul li a.on {
	background: #121217;
	color: #fff
}

.tab_are ul li a:hover {
	background: #121217;
	color: #fff;
	transition-duration: 0.5s
}

.tab_are ul li a.on2 {
	background: #121217;
	color: #fff;
	border-radius: 0;
	padding: 8px 15px;
	font-size: 16px;
}

.tab_are ul li a.on3 {
	background: #F9BC20;
	color: #000;
	border-radius: 0;
	padding: 8px 15px;
	font-size: 16px;
	font-weight: 500
}

.tab_are ul li p {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 5px;
	margin-right: 10px
}

.tab_are ul li select {
	padding: 8px 10px;
	font-size: 16px;
	min-width: 150px;
	border: 1px solid #dfdfdf;
	outline: none
}

.tab_are ul li input {
	padding: 8px 10px;
	font-size: 16px;
	min-width: 150px;
	border: 1px solid #dfdfdf;
	outline: none
}

.tab_are ul.left.flex {
	display: flex;
	align-items: flex-end;
}

.tab_are ul.left {
	text-align: left
}

.tab_are ul.right {
	text-align: right
}

.tab_are ul.right li {
	margin-right: 0;
	margin-left: 3px
}

.tab_are ul li input[type="radio"] {
	min-width: auto;
	margin: 0 5px;
}

.tab_are ul li input[type="checkbox"] {
	min-width: auto;
	margin: 0 5px;
}

.tab_are.noflex {
	display: block
}

.tab_are.noflex ul {
	border-bottom: 1px solid #dfdfdf;
	padding: 5px 0
}

.tab_are.noflex ul.noneline {
	border-bottom: none;
	padding: 5px 0
}

a.btnstyle {
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	border: 1px solid #dfdfdf;
	padding: 5px 15px;
	color: #222
}

a.btnstyle:hover {
	background: #121217;
	color: #fff;
	transition-duration: 0.5s
}

.td_on a.on {
	background: #121217;
	color: #fff;
}

a.btn_submit {
	background: #F9BC20;
	color: #000;
	border-radius: 0;
	padding: 12px 20px;
	font-size: 16px;
	font-weight: 500;
}

.btn_confirm {
    margin-top: 50px;
    text-align: center;
}

input[type="date"] {
	padding: 5px 10px;
	font-size: 14px;
	border: 0;
	border-bottom: 1px solid #666;
	background: none;
	width: 150px;
	outline: none
}

input[type="date"]::-webkit-calendar-picker-indicator {
	color: rgba(0, 0, 0, 0);
	opacity: 1;
	display: block;
	background: url(../images/date.png) no-repeat;
	width: 14px;
	height: 14px;
	border-width: 0;
}

.table_are {
	padding: 20px 15px;
	border-radius: 15px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
	margin-top: 15px;
	align-items: center;
	justify-content: space-between;
}

.btn_are {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn_are ul {
	display: flex;
}

.btn_are ul li {
	font-size: 14px;
	margin-right: 10px
}

.btn_are ul li span {
	display: inline-block;
	margin-left: 5px
}

.btn_are select {
	padding: 5px 10px;
	font-size: 14px;
	border: 0;
	border-bottom: 1px solid #666;
	background: none;
	outline: none
}

.search_form {
	border-bottom: 1px solid #666;
	padding: 5px 10px;
}

.search_form a {
	display: inline-block;
	max-width: 15px;
}

.btn_are ul li input[type="text"] {
	font-size: 14px;
	border: 0;
	background: none;
	outline: none;
	width: auto
}

.btn_are ul li .search_form {
	margin-left: 20px
}

.btn_are .left.flex {
	align-items: center;
}

.btn_are .left .lankfind a {
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	border: 1px solid #dfdfdf;
	padding: 5px 15px;
	color: #fff;
	background: #222
}

.btn_are .left a {
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	border: 1px solid #dfdfdf;
	padding: 5px 15px;
	color: #222
}

.btn_are .left a.on {
	background: #121217;
	color: #fff
}

.btn_are .left a:hover {
	background: #121217;
	color: #fff;
	transition-duration: 0.5s
}

.btn_are .left a.on2 {
	background: #121217;
	color: #fff;
	border-radius: 0;
	padding: 8px 15px;
	font-size: 16px;
}

.btn_are .left a.on3 {
	background: #F9BC20;
	color: #000;
	border-radius: 0;
	padding: 8px 15px;
	font-size: 16px;
	font-weight: 500
}

.btn_are .left a span {
	display: inline-block;
	margin-right: 5px;
	margin-top: -2px;
	vertical-align: middle
}

.btn_are .right a {
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	border: 1px solid #dfdfdf;
	padding: 5px 15px;
	color: #222
}

.btn_are .right a span {
	display: inline-block;
	margin-right: 5px;
	margin-top: -2px;
	vertical-align: middle
}

.table {
	font-size: 14px;
	color: #222;
	margin-top: 10px;
	overflow-x: auto
}

.table table {
	border-spacing: 0;
	width: 100%;
	word-break: keep-all;
	word-wrap: normal
}

.table table th {
	background: #F9BC20;
	color: #222;
	padding: 10px;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf
}

.table table th:first-child {
	border-left: 0
}

.table table td {
	color: #222;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	background: #f9f9f9
}

.table table td:first-child {
	border-left: 0
}

/* .table table tr:nth-child(2n) td {
	background: #fff
} */

.table select {
	padding: 5px 10px;
	font-size: 14px;
	border: 0;
	border-bottom: 1px solid #666;
	background: none;
	outline: none
}

.table tr td input[type="radio"] {
	min-width: auto;
	margin: 0 5px;
}

.table tr td input[type="checkbox"] {
	min-width: auto;
	margin: 0 5px;
}

.cheack_are {
	text-align: center;
}

a.state_box {
	border: 1px solid #dfdfdf;
	width: 40px;
	height: 22px;
	background: #fff;
	border-radius: 50px;
	position: relative;
	display: inline-block
}

.state_box .state {
	position: absolute;
	width: 16px;
	height: 16px;
	background: #666;
	left: 2px;;
	top: 2px;
	border-radius: 50px;;
	transition-duration: 0.5s
}

.state_box.on .state {
	left: 20px;
	background: #F9BC20
}

.state_box:focus .state {
	left: 20px;
	background: #F9BC20;
	transition-duration: 0.5s
}

.lank a {
	display: inline-block;
	font-size: 12px;
	border-radius: 50px;
	border: 1px solid #dfdfdf;
	background: #fff;
	padding: 5px 8px;
	margin-left: 3px
}

.lank a:hover {
	background: #333;
	color: #fff;
	transition-duration: 0.5s
}

.up {
	color: #FF405D
}

.down {
	color: #4440FF
}

.table table td.mid {
	text-align: left
}

.table table td.mid p b {
	color: #FF5C00
}

.custom a {
	display: inline-block;
	font-size: 12px;
	border-radius: 50px;
	border: 1px solid #dfdfdf;
	background: #222222;
	padding: 5px 12px;
	color: #fff
}

.custom a span {
	display: inline-block;
	margin-right: 5px;
	margin-top: -4px;
	vertical-align: middle
}

.pop-layer .pop-container {
	background: #fff;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	z-index: 2
}

.pop-layer {
	display: none;
	position: fixed;
	top: 30%;
	left: 40%;
	width: auto;
	height: auto;
	background-color: #fff;
	z-index: 2;
	border-radius: 20px;
}

.dim {
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	z-index: 1
}

.head_pop {
	background: #F9BC20;
	padding: 15px;
	position: relative
}

.head_pop h2 {
	font-size: 18px;
	font-weight: 600
}

.head_pop a {
	position: absolute;
	display: inline-block;
	right: 15px;
	top: 16px;
}

.pop_form_are {
	background: #fff;
	padding: 20px 15px;
	max-height: 550px;
	overflow-y: auto
}

.pop_form_are ul {
	display: flex;
	margin: 15px 0;
	align-items: flex-end;
}

.pop_form_are ul li {
	width: calc(100% - 5px);
	margin: 0 5px
}

.pop_form_are p {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 5px
}

.pop_form_are ul li span {
	padding: 5px;
	border: 1px solid #fff;
	border-radius: 0;
	font-size: 16px;
	display: block
}

.pop_form_are select {
	width: 100%;
	padding: 5px;
	border: 1px solid #dfdfdf;
	border-radius: 0;
	font-size: 16px;
	display: block
}

.pop_form_are input {
	width: 100%;
	padding: 5px;
	border: 1px solid #dfdfdf;
	border-radius: 0;
	font-size: 16px;
	display: block
}

.w100 {
	width: 100% !important
}

.pop_btn {
	text-align: center;
	padding: 20px 0 40px 0
}

.pop_btn a {
	display: inline-block;
	margin: 0 5px;
	border-radius: 50px;
	border: 1px solid #dfdfdf;
	font-size: 16px;
	padding: 8px 15px;
	text-align: center;
	font-weight: 500
}

.pop_btn a.okbtn {
	background: #F9BC20
}

.pop_form_are .table {
	margin: 0
}

.thum_search ul {
	display: flex;
	text-align: left;
	align-items: center;
}

.thum_search ul li:last-child {
	padding-left: 10px
}

.allnav {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	border-bottom: 1px solid #dfdfdf;
	padding: 15px 0;
	padding-left: 330px;
	background: #333
}

.allnav ul {
	display: flex
}

.allnav ul li {
	font-size: 16px;
	font-weight: 400;
	padding: 0 20px;
	color: #fff
}

.graf {
	border-radius: 15px;
	overflow: hidden;
	padding: 10px;
	background: #fff;
	margin-top: 15px
}

.table_are.textleft .flex {
	border-radius: 15px;
	overflow: hidden;
	padding: 20px 10px;
	background: #fff;
	margin-top: 15px;
	display: flex
}

.flex .table {
	flex: 1;
	margin: 0 10px
}

.table h2 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px
}

.stiky {
	position: sticky;
	top: 0;
	background: #fff;
}

input[type="text"] {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #dfdfdf;
	/* width: 100% */
}

input[type="password"] {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #dfdfdf;
	/* width: 100% */
}

.textleft table th {
	width: 20%;
	text-align: left;
	background: #999;
	color: #fff
}

.textleft table td {
	text-align: left;
	background: #fff
}

.textleft select {
	width: auto;
	min-width: 150px;
	background: #fff;
	border: 1px solid #dfdfdf;
	padding: 5px;
	font-size: 16px
}

input[type="text"].w50 {
	width: 50px
}

input[type="text"].w50p {
	width: 50%
}

input[type="text"].w150 {
	width: 150px
}

input[type="text"].w300 {
	width: 300px
}

.textleft table textarea {
	font-size: 16px;
	padding: 5px;
	border: 1px solid #dfdfdf;
	width: 100%;
	min-height: 250px
}

.flex2 {
	border-radius: 15px;
	overflow: hidden;
	padding: 20px 10px;
	background: #fff;
	margin-top: 15px;
	display: flex
}

.flex2 table th {
	width: 25%
}

@media ( max-width : 1200px) {
	.tab_are {
		flex-wrap: wrap;
	}
	.tab_are ul {
		width: 100%;
		padding: 5px 0
	}
	.custom a {
		width: 100px
	}
	td.updown b {
		display: block
	}
}

@media ( max-width : 900px) {
	.tab_are ul.left.flex {
		flex-wrap: wrap;
	}
}

.file_del {
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	border: 1px solid #dfdfdf;
	padding: 5px 15px;
	color: #222;
	background-color: #dfdfdf;
}

.filebox .upload-name {
	display: inline-block;
	/* height: 40px; */
	padding: 0 10px;
	vertical-align: middle;
	border: 0px solid #fff;
	width: 30%;
	color: #999999;
	cursor: pointer;
}

.filebox label {
	border-radius: 50px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border: 1px solid #dfdfdf;
    padding: 5px 15px;
    color: #222;
    background-color: #dfdfdf;
	cursor: pointer;
}

.list_btnb {
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	border: 1px solid #547eec;
	padding: 5px 15px;
	color: #547eec;
	background-color: #ffffff;
}

.list_btnr {
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	border: 1px solid #ec0e03;
	padding: 5px 15px;
	color: #ec0e03	;
	background-color: #ffffff;
}

.list_btnb .on {
	background: #547eec;
	color: #fff
}

.list_btnr .on {
	background: #ec0e03;
	color: #fff
}

.list_btnb:hover {
	background: #547eec;
	color: #fff;
	transition-duration: 0.5s
}

.list_btnr:hover {
	background: #ec0e03;
	color: #fff;
	transition-duration: 0.5s
}

/* 페이징 CSS */
.pagenation{display: flex; align-items: center; justify-content: center; margin-top: 50px}
.pagenation a{width: 30px; height: 30px; text-align: center; line-height: 30px; color: #222; border: 1px solid #dfdfdf; margin: 0 2px; border-radius: 5px }
.pagenation a:hover, .pagenation a.atv{border-color: #222; color: #222; transition-duration: .5s}
.pagenation a.pre{margin-right: 15px}
.pagenation a.next{margin-left: 15px}

/* 문자관리 CSS */
.sample{margin-top: 15px;display: flex; flex-wrap: wrap}
.sample .sample_box{width: calc(25% - 10px); margin:5px; border: 1px solid #dfdfdf; padding: 15px; border-radius: 15px; background-color: #fff;}
.sample .sample_box p{height: 150px; font-size: 14px; line-height: 22px; overflow-y: auto}
.sample .sample_box .sample_btn{display: flex; margin-top: 15px;}
.sample .sample_box .sample_btn .btn{height: 30px; border: 1px solid #dfdfdf; flex: 1; margin: 0 5px; text-align: center; line-height: 30px; border-radius: 10px; color: #222}
.sample .sample_box img{width: 100%}
.sample .sample_box .sample_btn .btn.btn01{background:#121217; color: #fff }

/*화면낭독기 사용자용*/
.sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}