<footer>
    <div class="inner">
        <div class="foot_link">
            <a href="#none">
                메뉴얼안내
            </a>
            <a href="#none">
                개인정보취급방침
            </a>
            <a href="#none">
                서비스 이용약관
            </a>
        </div>
        <p>
           태령컴퍼니 대표이사 : 송병욱 사업자등록번호 : 676-11-01743 통신판매업신고 : 제 2022-인천부평-1512 호<br>
인천광역시 서구 청리커낼로260번길 7-9, 5층 506호 Tel : 070-4195-5277 전자메일주소 : help@admin.co.kr
        </p>
        <p>Copyrightⓒ Korea 문자데이 All Rights Reserved.</p>
    </div>
    

</footer>