<!--banner-->
<section class="banner">
    <div class="inner">
        <h2>
            고객님이 전하려는 말<br>
            <b>“문자데이”</b>가 대신 신속하게 전해드리겠습니다.
        </h2>
    </div>      
</section>
<!--system-->

<section class="system">
    <div class="inner">
        <div class="title_main">
            <h2><b>문자데이는</b><br>
                높은 수신율과 효과적인 메세지 시스템을 제공합니다.</h2>
        </div>
        
        <ul>
            <li>
                <img src="images/main/01.png">
                <h2>고객 맞춤형 메세지 컨설팅</h2>
                <p>다년간의 문자 'Know-how'<br>
                    제공으로 고객영업효과 증대</p>
            </li>
            <li>
                <img src="images/main/02.png">
                <h2>3개 통신사 테스트 발송</h2>
                <p>발송 전 통신사 3사(LG/SKT/KT)로 테스트 발송가능<br>
                    3사 테스트 발송 여부 조회 및 도달 성공률 강화</p>
            </li>
            <li>
                <img src="images/main/03.png">
                <h2>메세지 중복전송 방지</h2>
                <p>동일번호로 중복발송시<br>
                    이중차감 방지</p>
            </li>
            <li>
                <img src="images/main/04.png">
                <h2>자동환불 시스템</h2>
                <p>발송 실패건 100% 자동환불</p>
            </li>
            <li>
                <img src="images/main/05.png">
                <h2>080수신거부 무료 제공</h2>
                <p>키문자는 080 무료수신거부 번호를 무료 제공<br>
                    수신거부번호는 발송목록에서 자동제거</p>
            </li>
            <li>
                <img src="images/main/06.png">
                <h2>완벽한 개인정보 보안</h2>
                <p>SSL 보안인증<br>
                    암호화 보안 시스템</p>
            </li>
        </ul>
        
    </div>
</section>