<section class="main">
	<div class="title">
		<h2>기본환경설정</h2>
		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>

	<div class="tab_are stiky mart50">
		<ul class="left">
			<li><a href="#company_info">사업자 정보</a></li>
			<li><a href="#manager_info">담당자 정보</a></li>
			<li><a href="#cscenter">운영시간</a></li>
		</ul>
	</div>

	<div class="table table_are textleft" id="company_info">
		<h2>사업자 정보</h2>
		<div class="table">
			<table>
				<tr>
					<th>사이트명</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="30"></td>
				</tr>
				<tr>
					<th>회사명</th>
					<td><input type="text" placeholder="" id="" size="30"></td>
					<th>대표자명</th>
					<td><input type="text" placeholder="" id="" size="30"></td>
				</tr>
				<tr>
					<th>사업자번호</th>
					<td><input type="text" placeholder="" id="" maxlength="12" size="30"></td>
					<th>통신판매업신고번호</th>
					<td><input type="text" placeholder="" id="" size="30"></td>
				</tr>
				<tr>
					<th>업태</th>
					<td><input type="text" placeholder="" id="" size="30"></td>
					<th>종목</th>
					<td><input type="text" placeholder="" id="" size="30"></td>
				</tr>
				<tr>
					<th>대표 전화번호</th>
					<td><input type="text" placeholder="" id="" size="30" maxlength="13"></td>
					<th>Fax</th>
					<td><input type="text" placeholder="" id="" size="30" maxlength="13"></td>
				</tr>
				<tr>
					<th>우편번호</th>
					<td colspan="3"><input type="text" placeholder="" id="" size=20 readonly onclick="getPostCode();"></td>
				</tr>
				<tr>
					<th>주소</th>
					<td colspan="3"><input type="text" placeholder="" id="" size=80></td>
				</tr>
				<tr>
					<th>상세 주소</th>
					<td colspan="3"><input type="text" placeholder="" id="" size=80></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="table table_are textleft" id="manager_info">
		<h2>담당자 정보</h2>
		<div class="table">
			<table>
				<tr>
					<th>담당자 이름</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="30"></td>
				</tr>
				<tr>
					<th>담당자 핸드폰</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="30" maxlength="13"></td>
				</tr>
				<tr>
					<th>담당자 이메일</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="30" ></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="table table_are textleft" id="cscenter">
		<h2>운영시간</h2>
		<div class="table">
			<table>
				<tr>
					<th>상담가능시간</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="30"></td>
				</tr>
				<tr>
					<th>점심시간</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="30" maxlength="13"></td>
				</tr>
				<tr>
					<th>휴무일</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="30" ></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="btn_confirm">
		<a href="javascript:void(0);" class="btn_submit" onclick="">저장</a>
		<a href="javascript:history.back();" class="btn_submit">취소</a>
	</div>

</section>

<script type="text/javascript" src="/admin/js/validation.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

	// 전역변수
	let index_no		  = '';
	let pt_id 		 	  = '<%- pt_id %>';
	let logo_file_del 	  = false;
	let sns_logo_file_del = false;
	let favicon_file_del  = false;

	// 기본환경설정 상세정보
	configDetail();

	async function configDetail() {
		let data = {pt_id: pt_id};
		let res  = await axios.post('/admin/config/getConfigDetail', data);
		let info = res.data.result[0];
		index_no = typeof info !== 'undefined' ? info.index_no : null;

		if(index_no != null) {
			for(let key in info) {
				$('#'+key).val(info[key]);
			}
		}
	}
	
</script>