<section class="main">
	<div class="title">
		<h2>SMS충전신청</h2>

		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>

	<div class="table table_are textleft mart50">
		<h2>SMS충전</h2>
		<div class="table">
			<table>
				<tr>
					<th class="w10p">충천금액</th>
					<td><input type="text" placeholder="" id="" size="10">&nbsp;<span>원</span></td>
				</tr>
				<tr>
					<th class="w10p padt17 padb17">결제방법</th>
					<td><input type="radio" checked="checked"><span>무통장입금</span></td>
				</tr>
				<tr>
					<th class="w10p">입금계좌</th>
					<td>
						<select>
							<option>선택하세요</option>
							<option>신한은행 1100000000 예금주: (주)문자데이</option>
						</select>
					</td>
				</tr>
				<tr>
					<th class="w10p">입금자명</th>
					<td><input type="text" placeholder="" id="" size="10"></td>
				</tr>
				<tr>
					<th class="w10p">내용</th>
					<td><input type="text" placeholder="" id="" size="50"></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="btn_confirm">
		<a href="javascript:void(0);" class="btn_submit">신청하기</a>
	</div>

	<div class="table_are mart50">
		<div class="btn_are marl10">
			<ul class="left flex">
				<li>전체 : <b><span id="total_count">0</span></b> 건 조회</li>
				<li>
					<select id="search_count">
						<option value="30">30</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select> 
					<span>개씩 보기</span>
				</li>
			</ul>
		</div>
		<div class="btn_are mart20">
			<ul class="left">
				<li class="marr5"><a href="#none" class=""> 선택삭제</a></li>
			</ul>
		</div>
		<div class="table">
			<table>
				<colgroup>
					<col class="w50">
					<col class="w70">
					<col class="w90">
					<col class="w150">
					<col class="w150">
					<col class="w120">
					<col class="w100">
					<col class="w100">
					<col class="w300">
					<col>
				</colgroup>
				<thead>
					<th scope="col" class="cheack_are"><input type="checkbox"></th>
					<th scope="col">번호</th>
					<th scope="col">승인여부</th>
					<th scope="col">신청일시</th>
					<th scope="col">승인일시</th>
					<th scope="col">결제방법</th>
					<th scope="col">충전금액</th>
					<th scope="col">입금자명</th>
					<th scope="col">입금계좌</th>
					<th scope="col">내용</th>
				</thead>
				<tbody id="pointListBody">
					<tr>
						<td scope="col"><input type="checkbox"></td>
						<td scope="col">1</td>
						<!-- <td scope="col" class="fc_084">승인</td> -->
						<td scope="col" class="fc_red">미승인</td>
						<td scope="col">2023.01.01 13:00:00</td>
						<td scope="col">2023.01.04 13:00:00</td>
						<td scope="col">무통장입금</td>
						<td scope="col">100,000원</td>
						<td scope="col">홍길동</td>
						<td scope="col">신한은행 1100000000 예금주: (주)문자데이</td>
						<td scope="col">첫 충전입니다.</td>
					</tr>
				</tbody>
			</table>
			<div id="pagenation_view" class="pagenation"></div>
		</div>
	</div>
</section>

<div id="memberModifyPop" class="pop-layer">
	<div class="dim"></div>
	<div class="pop-container">
		<div class="head_pop">
			<h2 id="member_text"></h2>
			<a href="javascript:void(0);" onclick="closeMemberPop();" class="btn-layerClose"><img src="/admin/images/close_pop.png"></a>
		</div>
		<div class="pop_form_are" id="member_table">
			<ul>
				<li>
					<p>아이디</p>
					<input type="text" placeholder="" id="mb_id">
				</li>
				<li>
					<p>비밀번호</p>
					<input type="text" placeholder="" id="mb_password">
				</li>
			</ul>
			<ul>
				<li>
					<p>이름</p>
					<input type="text" placeholder="" id="mb_name">
				</li>
				<li>
					<p>이메일</p>
					<input type="text" placeholder="" id="mb_email">
				</li>
			</ul>
			<ul>
				<li>
					<p>연락처</p>
					<input type="text" placeholder="" id="mb_hp" maxlength="13">
				</li>
				<li>
					<p>회원 구분</p> 
					<select id="mb_level">
						<option value="1">회원</option>
						<!-- <option value="10">관리자</option> -->
					</select>
				</li>
			</ul>
			<ul>
				<li>
					<p>포인트</p>
					<input type="text" placeholder="" id="mb_point" value="0">
				</li>
			</ul>
		</div>
		<div class="pop_btn">
			<a href="javascript:void(0);" class="okbtn" onclick="memberModify()">등록</a>
			<a href="javascript:void(0);" class="btn-layerClose" onclick="closeMemberPop();">취소</a>
		</div>
	</div>
</div>

<script type="text/javascript" src="/admin/js/validation.js"></script>
<script>

</script>