<section class="system">
    <div class="inner">
        <div class="title_main">
            <h2><b>문자데이는</b><br>
                높은 수신율과 효과적인 메세지 시스템을 제공합니다.</h2>
        </div>
        
        <div class="flex2_join">
            <a href="/front/join/join_agree">
                <img src="../images/join/01.png">
            </a>
            <a href="javascript:void(0);" class="btn-example" onclick="openPop('company_pop');">
                <img src="../images/join/02.png">
            </a>
        </div>
    </div>
</section>
        
<div id="company_pop" class="pop-layer">
    <div class="pop-container">
        <div class="popcontent">
            <div class="poptitle">
                <h2>
                기업회원 가입안내
                </h2>
                <a href="#" class="btn-layerClose close" onclick="closePop('company_pop');">
                    <img src="../images/popup/close.svg">
                </a>    
            </div>
            
            <div class="point_pop">
                <h2>
                    <span><img src="../images/popup/point.svg"></span>
                    사업자회원(회사/단체)
                </h2>
                <p>
                    일반 회원으로 가입 후 필요서류를 아래의 이메일로 보내주시면,<br>
확인 후 사업자 회원으로 변경하여 드리겠습니다.<br>
E-Mail : help@poisoft.co.kr
                </p>
                <p>	&#60; 필요서류 	&#62;</p>
                <ul class="list_ul">
                    <li>사업자등록증</li>
                    <li>담당자 재직증명서, 담당자 신분증 사본</li>
                    <li>통신증명원</li>
                </ul>
                <p>문의 전화 Tel : 070-4195-5277</p>
            </div>
            
            <div class="btn_are_pop">
                <a href="#" class="btn-layerClose btn" onclick="closePop('company_pop');">
                    닫기
                </a>
            </div>
            
        </div>
    </div>
</div>

<script>
</script>