<section class="main">
	<div class="title">
		<h2>가맹점 정보관리</h2>

		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>
	<div class="tab_are">
		<ul class="left" id="count_ul">
			<li><a href="javascript:void(0);" class="on">전체(<span id="total_count">0</span>)</a></li>
		</ul>
	</div>
	<div class="table_are">
		<div class="btn_are">
			<ul class="left">
				<li>
					<select id="search_count">
						<option value="100">100</option>
						<option value="50">50</option>
						<option value="30">30</option>
					</select> 
					<span>개씩 보기</span>
				</li>
				<li>
					<div class="search_form">
						<input type="text" placeholder="검색어" id="keyword" onkeyup="if(window.event.keyCode==13){member_search()}"> 
						<a href="javascript:void(0);" onclick="member_search()">
							<img src="/admin/images/search.png">
						</a>
					</div>
				</li>
			</ul>
			<ul class="right">
				<li>
					<a href="javascript:void(0);" onclick="openMemberPop('회원 등록', 'REGIST');" class="btn-example"> <span><img src="/admin/images/ok.png"></span>신규 등록</a>
				</li>
			</ul>
		</div>

		<div class="table">
			<table>
				<thead>
					<th>번호</th>
					<th>ID</th>
					<th>이름</th>
					<th>회원구분</th>
					<th>연락처</th>
					<!-- <th>등급</th> -->
					<th>이메일</th>
					<th>설정</th>
				</thead>
				<tbody id="memberListBody">
					<td>1</td>
					<td>nowandnew</td>
					<td>홍길동</td>
					<td>회원</td>
					<td>01012345678</td>
					<td>test@naver.com</td>
					<!-- <td>
						<select>
							<option>일반</option>
							<option>총판</option>
							<option>관리자</option>
						</select>
					</td> -->
					<td class="custom">
						<a href="#layer2" class="btn-example"><span><img src="/admin/images/okb.png"></span>작업 설정</a>
					</td>
				</tbody>
			</table>

			<div id="pagenation_view" class="pagenation"></div>

		</div>
	</div>
</section>

<div id="partnerDetailPop" class="pop-layer">
	<div class="dim"></div>
	<div class="pop-container">
		<div class="head_pop">
			<h2 id="member_text"></h2>
			<a href="javascript:void(0);" onclick="closeMemberPop();" class="btn-layerClose"><img src="/admin/images/close_pop.png"></a>
		</div>
		<div class="pop_form_are" id="member_table">
			<ul>
				<li>
					<p>아이디</p>
					<input type="text" placeholder="" id="mb_id">
				</li>
			</ul>
			<ul>
				<li>
					<p>이름</p>
					<input type="text" placeholder="" id="mb_name">
				</li>
				<li>
					<p>이메일</p>
					<input type="text" placeholder="" id="mb_email">
				</li>
			</ul>
			<ul>
				<li>
					<p>연락처</p>
					<input type="text" placeholder="" id="mb_hp" maxlength="13">
				</li>
				<li>
					<p>회원 구분</p> 
					<select id="mb_level">
						<option value="1">회원</option>
						<!-- <option value="10">관리자</option> -->
					</select>
				</li>
			</ul>
			<ul>
				<li>
					<p>포인트</p>
					<input type="text" placeholder="" id="mb_point" value="0">
				</li>
			</ul>
		</div>
		<div class="pop_btn">
			<a href="javascript:void(0);" class="okbtn" onclick="memberModify()">등록</a>
			<a href="javascript:void(0);" class="btn-layerClose" onclick="closeMemberPop();">취소</a>
		</div>
	</div>
</div>