<section class="main">
	<div class="title">
		<h2>가맹점 사용료관리</h2>

		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>

	<div class="tab_are mart50">
		<ul class="left">
			<li>
				<select>
					<option>ID</option>
					<option>회원명</option>
				</select>
			</li>
			<li>
				<input type="text" placeholder="검색어" id="keyword" onkeyup="if(window.event.keyCode==13){member_search()}"> 
			</li>
			<li>
				<a href="javascript:void(0);" class="on3" onclick="member_search()">검색</a>
				<a href="#none" class="on3">초기화</a>
			</li>
		</ul>
	</div>

	<div class="tab_are noflex">
		<ul class="left noneline">
			<li>
				<p>기간</p>
			</li>
			<li>
				<input type="date" class="w50"><span style="margin: 0 5px"> ~ </span><input type="date" class="w50">
			</li>
			<li>
				<a href="#none" class="on2">오늘</a>
				<a href="#none" class="on2">어제</a>
				<a href="#none" class="on2">일주일</a>
				<a href="#none" class="on2">지난달</a>
				<a href="#none" class="on2">1개월</a>
				<a href="#none" class="on2">3개월</a>
				<a href="#none" class="on2">전체</a>
			</li>
		</ul>
	</div>

	<div class="table_are">
		<div class="btn_are marl10">
			<ul class="left flex">
				<li>전체 : <b><span id="total_count">0</span></b> 건 조회</li>
				<li>
					<select id="search_count">
						<option value="30">30</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select> 
					<span>개씩 보기</span>
				</li>
			</ul>
		</div>
		<div class="btn_are mart20">
			<ul class="left">
				<li class="marr5"><a href="#none" class=""> 선택삭제</a></li>
			</ul>
		</div>
		<div class="table">
			<table>
				<colgroup>
					<col class="w50">
					<col class="w70">
					<col class="w170">
					<col class="w170">
					<col class="w170">
					<col>
					<col class="w120">
					<col class="w120">
					<col class="w170">
					<col class="w170">
				</colgroup>
				<thead>
					<th scope="col" class="cheack_are"><input type="checkbox"></th>
					<th scope="col">번호</th>
					<th scope="col">가맹점 ID</th>
					<th scope="col">회원명</th>
					<th scope="col">회사명</th>
					<th scope="col">개별도메인</th>
					<th scope="col">이용건수</th>
					<th scope="col">누적 이용건수</th>
					<th scope="col">사용료 잔액</th>
					<th scope="col">상세내역</th>
				</thead>
				<tbody>
					<tr>
						<td scope="col"><input type="checkbox"></td>
						<td scope="col">1</td>
						<td scope="col">test</td>
						<td scope="col">홍길동</td>
						<td scope="col">문자데이</td>
						<td scope="col">smsday.kr</td>
						<td scope="col">1,000건</td>
						<td scope="col">15,000건</td>
						<td scope="col">100,000원</td>
						<td scope="col" class="custom">
							<a href="javascript:openPopup();" class="btn-example" onclick=""><span><img src="/admin/images/okb.png"></span>상세보기</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="pagenation_view" class="pagenation"></div>
		</div>
	</div>

	<div class="table table_are textleft mart15">
		<h2>가맹점 사용료 지급/차감</h2>
		<div class="table">
			<table id="partner_table">
				<tr>
					<th class="w10p">가맹점 ID</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="15"></td>
				<tr>
				<tr>
					<th class="w10p">지급/차감 내용</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="50"></td>
				<tr>
				<tr>
					<th class="w10p">지급/차감 사용료</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="10">&nbsp;<span class="fc_999">차감시 예) -5000</span></td>
				<tr>
			</table>
		</div>
	</div>

	<div class="btn_confirm">
		<a href="javascript:void(0);" class="btn_submit">지급하기</a>
	</div>
</section>

<script type="text/javascript" src="/admin/js/validation.js"></script>
<script>
function openPopup() {
	//window.open('/admin/popup/partner_fee_popup.html', '(가맹점ID) 사용료 상세내역', 'width = 500, height = 500, top = 100, left = 200, location = no');
}
</script>