<section class="main">
	<div class="title">
		<h2>가맹점 충전관리</h2>

		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>

	<div class="tab_are mart50">
		<ul class="left">
			<li>
				<select id="search_keycode">
					<option value="id">ID</option>
					<option value="name">회원명</option>
				</select>
			</li>
			<li>
				<input type="text" placeholder="검색어" id="keyword" onkeyup="if(window.event.keyCode==13){member_search()}"> 
			</li>
			<li>
				<a href="javascript:void(0);" class="on3" onclick="member_search()">검색</a>
				<a href="javascript:void(0);" class="on3" onclick="search_init()">초기화</a>
			</li>
		</ul>
	</div>

	<div class="tab_are noflex">
		<ul class="left padt10">
			<li>
				<p>승인여부</p>
			</li>
			<li>
				<input type="radio" name="approve_input" value="" checked><span>전체</span>
				<input type="radio" name="approve_input" value="0"><span>미승인</span>
				<input type="radio" name="approve_input" value="1"><span>승인</span>
			</li>
		</ul>
		<ul class="left noneline">
			<li>
				<p>요청일시</p>
			</li>
			<li>
				<input type="date" class="w50" id="start_date"><span style="margin: 0 5px"> ~ </span><input type="date" class="w50" id="end_date">
			</li>
			<li>
				<a href="javascript:void(0);" data-func="getTodayDayJS" class="on2">오늘</a>
				<a href="javascript:void(0);" data-func="getYesterDayJS" class="on2">어제</a>
				<a href="javascript:void(0);" data-func="getWeekDayJS" class="on2">일주일</a>
				<a href="javascript:void(0);" data-func="getBeforeMonthDayJS" class="on2">지난달</a>
				<a href="javascript:void(0);" data-func="getMonthDayJS" data-num="1" class="on2">1개월</a>
				<a href="javascript:void(0);" data-func="getMonthDayJS" data-num="3" class="on2">3개월</a>
				<a href="javascript:void(0);" class="on2">전체</a>
			</li>
		</ul>
	</div>

	<div class="table_are">
		<div class="btn_are marl10">
			<ul class="left flex">
				<li>전체 : <b><span id="total_count">0</span></b> 건 조회</li>
				<li>
					<select id="search_count">
						<option value="30">30</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select> 
					<span>개씩 보기</span>
				</li>
			</ul>
		</div>
		<div class="btn_are mart20">
			<ul class="left">
				<li class="marr5"><a href="javascript:void(0);" class="" id="partner_approve">선택승인</a></li>
			</ul>
		</div>
		<div class="table">
			<table>
				<colgroup>
					<col class="w50">
					<col class="w60">
					<col class="w80">
					<col class="w100">
					<col class="w100">
					<col class="w120">
					<col class="w150">
					<col>
					<col class="w100">
					<col class="w150">
					<col class="w150">
				</colgroup>
				<thead>
					<th scope="col" class="cheack_are"><input type="checkbox" id="partner_check_all"></th>
					<th scope="col">번호</th>
					<th scope="col">상태</th>
					<th scope="col">가맹점 ID</th>
					<th scope="col">회원명</th>
					<th scope="col">회사명</th>
					<th scope="col">개별도메인</th>
					<th scope="col">내용</th>
					<th scope="col">충천액</th>
					<th scope="col">요청일시</th>
					<th scope="col">승인일시</th>
				</thead>
				<tbody id="partnerListBody">
					<tr>
						<td colspan="11">데이터가 존재하지 않습니다.</td>
					</tr>
				</tbody>
			</table>
			<div id="pagenation_view" class="pagenation"></div>
		</div>
	</div>
</section>

<script type="text/javascript" src="/admin/js/date.js"></script>
<script>
	
	/* 검색 및 조회 start */

	// 검색 파라미터 (전역변수)
	let params = {
		keyword : $('#keyword').val(),
		keycode : $('#search_keycode').val(),
		approve_yn: $('input[name=approve_input]:checked').val(),
		date : {},
		paging : pagination
	};

	// 현상 유지 (조건 검색 시)
	function paramsInit(){
		if(getLocalStorage('search_params') != null){
			// 저장된 파라미터를 불러와 데이터 삽입
			params = JSON.parse(getLocalStorage('search_params'));
			pagination = params.paging;
			$('#search_count').val(params.paging.perPage.toString()).prop('selected', true);
			$('#keyword').val(params.keyword);
			
			$('input[name=approve_input]').each(function(idx, el){
				if($(el).val() === params.approve_yn){
					$(el).prop('checked', true);
				}
			})
		}
		init();
	}
	paramsInit();

	function getParams(){
		params.keyword = $('#keyword').val();
		params.keycode = $('#search_keycode option:selected').val();
		params.approve_yn = $('input[name=approve_input]:checked').val();
		params.paging = pagination;
		params.date = {
			start : $('#start_date').val(),
			end : $('#end_date').val()
		}
		return params;
	}

	async function init(){
		let data = getParams();
		setLocalStorage('search_params', JSON.stringify(data)); // params 데이터 저장

		// 가맹점 count
		let m_count = await axios.post('/admin/partner/getPartnerChargeCount', data);
		for(let key in m_count.data.result[0]){
			$('#'+key).text(m_count.data.result[0][key]);
		}

		// 가맹점 list
		let member = await axios.post('/admin/partner/getPartnerChargeList', data);

		let list = member.data.result;
		let html = '';
		if(list.length > 0){
			list.forEach(item => {
				html += `
					<tr>
						<td scope="col"><input type="checkbox" name="partner_check" data-index=${item.index_no} data-fee=${item.pf_fee} data-pt=${item.pt_id}></td>
						<td scope="col">${item.rownum}</td>
						<td scope="col" class="${item.pf_approval_yn === 1 ? 'fc_084' : 'fc_red'}">${item.pf_approval_yn === 1 ? '승인' : '미승인'}</td>
						<td scope="col">${item.pt_id}</td>
						<td scope="col">${item.pt_owner}</td>
						<td scope="col">${item.pt_company_name}</td>
						<td scope="col">${item.pt_domain}</td>
						<td scope="col">${item.pf_contents}</td>
						<td scope="col">${setComma(item.pf_fee)}원</td>
						<td scope="col">${item.pf_request_datetime}</td>
						<td scope="col">${item.pf_approval_datetime}</td>
					</tr>
				`
			});
		}else{
			html = '<tr><td colspan="11">데이터가 존재하지 않습니다.</td></tr>'
		}
		$('#partnerListBody').html(html);

		// await pagination(URL, DATA, 현재 페이지, 페이지 갯수, 페이징 갯수, 실행시킬 함수명);
		$('#pagenation_view').html(await Pagination('/admin/partner/getPartnerChargeCount', params, pagination.page, pagination.perPage, 5, 'init'));

	}

	// 검색 초기화
	function search_init(){
		$('#search_keycode').val('id').prop('selected', true);
		$('#keyword').val('');
		// clearLocalStorage();
		init();
	}

	function member_search(){
		pagination.page = 1; // 페이징 번호 초기화
		init();
	}

	// 데이터 n개씩 보기 클릭 이벤트
	$('#search_count').change(function(){
		pagination.perPage = $(this).val();
		init();
	});

	/* 검색 및 조회 end */

	$('input[name=approve_input]').click(function(){
		init();
	})

	/* 날짜 관련 start */

	// 날짜 선택 이벤트
	$('#start_date, #end_date').change(function(){
		if(($('#start_date').val() !== '' && $(' #end_date').val() !== '') && ($('#start_date').val() > $('#end_date').val())){
			alert('날짜 선택이 옳바르지 않습니다.');
			$('#start_date, #end_date').val('');
		}
		init();
	});

	// 날짜 조회 이벤트
	$('.on2').click(function(){
		if(typeof $(this).data('func') !== 'undefined'){
			if(typeof(window[$(this).data('func')]) == "function"){
				let execFunc = (new Function("return " + $(this).data('func')))();
				
				let result;
				if($(this).data('func') === 'getMonthDayJS'){
					result = execFunc($(this).data('num'));
				}else{
					result = execFunc();
				}

				$('#start_date').val(result.start);
				$('#end_date').val(result.end);
			}else{
				alert('함수가 존재하지 않습니다.');
			}
		}else{
			$('#start_date').val('');
			$('#end_date').val('');
		}
		init();
	});
	/* 날짜 관련 end */

	// 체크 박스 선택 이벤트
	$('#partner_check_all').click(function(){
		let checkBool = false;
		if($(this).is(':checked')) checkBool = true;
		$('input[name=partner_check]').prop('checked', checkBool);
	});

	// 선택 승인 이벤트
	$('#partner_approve').click(async function(){
		if($('input[name=partner_check]:checked').length > 0){
			if(confirm('정말로 승인하시겠습니까?')){
				let data_arr = [];
				let pt_arr = [];
				$('input[name=partner_check]').each(function(idx, el){
					if($(el).is(':checked')){
						data_arr.push($(el).data('index'));
						pt_arr.push({pt_id: $(el).data('pt'), pt_fee: $(el).data('fee')});
					}
				});
				let data = {
					aprv_list : data_arr,
					pt_list : pt_arr
				};
				let res = await axios.post('/admin/partner/partnerApprove', data);
				if(res.data.code == 200){
					location.reload();
				}else{
					alert('승인 중 오류가 발생하였습니다.\n관리자에게 문의해주세요.');
				}
			}
		}else{
			alert('선택된 데이터가 없습니다.');
		}
	});
</script>