<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>문자데이</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
        <link rel="stylesheet" type="text/css" href="/front/css/basic.css">
        <link rel="stylesheet" type="text/css" href="/front/css/common.css">
        <link rel="stylesheet" type="text/css" href="/front/css/main.css">
        <link rel="stylesheet" type="text/css" href="/front/css/sub.css">
        <link rel="stylesheet" type="text/css" href="/front/css/slick.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> 
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="/front/js/common.js"></script>
        <script type="text/javascript" src="/front/js/slick.js"></script>
        <script type="text/javascript" src="/front/js/axios.js"></script>
        <script type="text/javascript" src="/front/js/popup.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.1/base64.min.js"></script>

    </head>
    <body>
        <%-include('./frnt_header.html', {}) %>
        <%- body %>
        <%- script%>
        <%-include('./frnt_footer.html', {}) %>
    </body>
</html>
    