<section class="sub">
    <div class="sub_title">
        <h2>머지문자 보내기</h2>
        <a href="#layer1" class="btn btn-example">
            발송가능건수 확인
        </a>
    </div>

    <div class="sms_flex">
        <div class="sms">
            <h2>
                단문
                <div class="byte">
                    <span id="test_cnt">0</span><span>/90 byte</span>
                </div>
            </h2>
            <div class="sms_form">
                <p class="top_text">90byte(한글45자) 초과시 자동으로 장문 전환</p>
                <textarea maxlength="90" id="sms">(광고)</textarea>
                <a href="#none" class="sms080">무료거부 0808870505</a>
            </div>
            <div class="sms_btn">
                <span href="#none" class="tksms">특수문자 입력
                    <span class="tkbox">
                        <a href="#none">♥</a>
                        <a href="#none">♡</a>
                        <a href="#none">★</a>
                        <a href="#none">☆</a>
                        <a href="#none">▶</a>
                        <a href="#none">▷</a>
                        <a href="#none">●</a>
                        <a href="#none">■</a>
                        <a href="#none">▲</a>
                        <a href="#none">▒</a>
                        <a href="#none">♨</a>
                        <a href="#none">™</a>
                        <a href="#none">♪</a>
                        <a href="#none">♬</a>
                        <a href="#none">☜</a>
                        <a href="#none">☞</a>
                        <a href="#none">♂</a>
                        <a href="#none">♀</a>
                        <a href="#none">◆</a>
                        <a href="#none">◇</a>
                        <a href="#none">♣</a>
                        <a href="#none">♧</a>
                        <a href="#none">☎</a>
                        <a href="#none">◀</a>
                        <a href="#none">◁</a>
                        <a href="#none">○</a>
                        <a href="#none">□</a>
                        <a href="#none">▼</a>
                        <a href="#none">∑</a>
                        <a href="#none">㉿</a>
                        <a href="#none">◈</a>
                        <a href="#none">▣</a>
                        <a href="#none">『</a>
                        <a href="#none">』</a>
                        <a href="#none">☜</a>
                        <a href="#none">♬</a>
                        <a href="#none">⌒</a>
                        <a href="#none">¸</a>
                        <a href="#none">˛</a>
                        <a href="#none">∽</a>
                        <a href="#none">з</a>
                        <a href="#none">§</a>
                        <a href="#none">⊙</a>
                        <a href="#none">※</a>
                        <a href="#none">∴</a>
                        <a href="#none">¤</a>
                        <a href="#none">∂</a>
                        <a href="#none">▩</a>
                    </span>
                </span>
                <a href="#none">080수신거부</a>
            </div>
        </div>

        <div class="mug">
            <a href="#none">[*n*]변경</a>
            <a href="#none">[*1*]변경</a>
            <a href="#none">[*2*]변경</a>
            <a href="#none">[*3*]변경</a>
            <a href="#none">[*4*]변경</a>
        </div>

        <div class="sms">
            <h2>
                단문
                <div class="byte">
                    <span id="test_cnt">0</span><span>/90 byte</span>
                </div>
            </h2>
            <div class="sms_form">
                <textarea maxlength="90" id="sms">(광고)</textarea>
            </div>
            <div class="sms_btn">
                <a href="#none" class="w100">미리보기</a>
            </div>
        </div>
    </div>

    <div class="tlb">
        <table>
            <tr>
                <th>제목</th>
                <td><input type="text"></td>
                <th>분할전송</th>
                <td>
                    <div class="tlb_flex_sms">
                        <input type="checkbox"><span>사용</span>
                        <input type="checkbox"><span>미사용</span>
                        <input type="text" class="half"><span>건씩</span>
                        <input type="text" class="half"><span>분간격</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>발신번호</th>
                <td><input type="text"></td>
                <th>전송시간</th>
                <td>
                    <div class="tlb_flex_sms">
                        <input type="checkbox"><span>즉시</span>
                        <input type="checkbox"><span>예약</span>
                    </div>

                    <div class="tlb_flex_sms">
                        <input type="time" class="half">
                        <input type="text" class="half"><span>시</span>
                        <input type="text" class="half"><span>분</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="btn_pry">
        <a href="#" class="btn02 btn">전송하기</a>
    </div>

    <div class="tlb center xcel">
        <table>
            <tr>
                <th>1</th>
                <th>핸드폰</th>
                <th>이름</th>
                <th>[*1*]</th>
                <th>[*2*]</th>
                <th>[*3*]</th>
                <th>[*4*]</th>
            </tr>
            <tr>
                <th>1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>5</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="point_pop">
        <h2>
            <span><img src="/front/images/popup/point.svg"></span>
            알아두세요!
        </h2>
        <ul class="list_ul">
            <li>수신번호 추가 시 중복번호, 형식에 맞지 않는 번호는 자동 제거됩니다.</li>
            <li>080수신거부 기본, 문자데이 블랙리스트 (선택 :정통부신고번호 고객센터문의) 자동 거부 되며, 신규 회원 가입이 필요합니다.</li>
        </ul>
    </div>
</section>