<section class="main">
	<div class="title">
		<h2>분류추가</h2>
		<div class="time">
			<span id="todayIs"> 2022년 10월 18일 </span> <span> <b> <span>
						<img src="/admin/images/time.png">
				</span> <em id="clock" style="font-style: normal"></em>
			</b>
			</span>
		</div>
	</div>

	<div class="table_are textleft">
		<h2>상품분류</h2>
		<div class="table">

			<table>
				<tr>
					<th>분류코드</th>
					<td><input type="text" class="w50"></td>
				<tr>
				<tr>
					<th>분류명</th>
					<td><input type="text" class=""></td>
				<tr>
				<tr>
					<th>출력순서</th>
					<td><input type="text" class="w50"></td>
				<tr>
				<tr>
					<th>PC용 스킨명</th>
					<td><select>
							<option>선택</option>
					</select></td>
				<tr>
				<tr>
					<th>모바일용 스킨명</th>
					<td><select>
							<option>선택</option>
					</select></td>
				<tr>
				<tr>
					<th>출력스킨</th>
					<td><select>
							<option>선택</option>
					</select></td>
				<tr>
				<tr>
					<th>출력이미지 폭</th>
					<td><input type="text" class="w50"><span>픽셀</span></td>
				<tr>
				<tr>
					<th>출력이미지 높이</th>
					<td><input type="text" class="w50"><span>픽셀</span></td>
				<tr>
				<tr>
					<th>1줄당 이미지 수</th>
					<td><input type="text" class="w50"><span>개</span></td>
				<tr>
				<tr>
					<th>이미지 줄 수</th>
					<td><input type="text" class="w50"><span>줄</span></td>
				<tr>
				<tr>
					<th>모바일 출력스킨</th>
					<td><select>
							<option>선택</option>
					</select></td>
				<tr>
				<tr>
					<th>모바일 출력이미지 폭</th>
					<td><input type="text" class="w50"><span>픽셀</span></td>
				<tr>
				<tr>
					<th>모바일 출력이미지 높이</th>
					<td><input type="text" class="w50"><span>픽셀</span></td>
				<tr>
				<tr>
					<th>모바일 1줄당 이미지 수</th>
					<td><input type="text" class="w50"><span>개</span></td>
				<tr>
				<tr>
					<th>모바일 이미지 줄 수</th>
					<td><input type="text" class="w50"><span>줄</span></td>
				<tr>
				<tr>
					<th>재고수량</th>
					<td><input type="text" class="w50"><span>개</span></td>
				<tr>
				<tr>
					<th>판매가능</th>
					<td><input type="checkbox"><span>예</span></td>
				<tr>
				<tr>
					<th>쿠폰적용안함</th>
					<td><input type="checkbox"><span>예</span></td>
				<tr>
			</table>
		</div>
	</div>
</section>