<section class="main">
	<div class="title">
		<h2>분류관리</h2>
		<div class="time">
			<span id="todayIs"> 2022년 10월 18일 </span> <span> <b> <span>
						<img src="/admin/images/time.png">
				</span> <em id="clock" style="font-style: normal"></em>
			</b>
			</span>
		</div>
	</div>

	<div class="tab_are">
		<ul class="left flex">
			<li><select>
					<option>전체분류</option>
			</select></li>
			<li><select>
					<option>분류명</option>
			</select></li>
			<li><input type="text"></li>

			<li><a href="#none" class="on2">검색</a></li>

		</ul>
	</div>

	<div class="table_are">

		<div class="btn_are">
			<ul class="left">

			</ul>
			<ul class="right">
				<li><a href="#none" class=""> <span><img
							src="/admin/images/ok.png"></span> 분류추가
				</a></li>

				<li><a href="#none" class=""> 일괄수정</a></li>

				<li><a href="#none" class=""> 선택수정</a></li>


			</ul>
		</div>

		<div class="table">

			<table>
				<tr>
					<th class="cheack_are"><input type="checkbox"></th>
					<th>분류코드</th>
					<th>분류명</th>
					<th>상품수</th>
					<th>판매가능</th>
					<th>분류순서</th>
					<th>이미지 폭/높이</th>
					<th>1행이미지수</th>
					<th>모바일 1행이미지수</th>
					<th>스킨지정</th>
					<th>관리</th>

				</tr>

				<tr>
					<td class="cheack_are"><input type="checkbox"></td>
					<td>123456</td>
					<td><input type="text" placeholder="상패 트로피"></td>
					<td>13</td>
					<td class="cheack_are"><input type="checkbox"><span>가능</span>
					</td>
					<td class="cheack_are"><input type="text" placeholder="1"
						class="w50"></td>
					<td style="min-width: 150px"><input type="text"
						placeholder="폭" class="w50"> <input type="text"
						placeholder="높이" class="w50"></td>
					<td style="min-width: 150px"><input type="text"
						placeholder="폭" class="w50"> <input type="text"
						placeholder="높이" class="w50"></td>
					<td style="min-width: 150px"><input type="text"
						placeholder="폭" class="w50"> <input type="text"
						placeholder="높이" class="w50"></td>
					<td style="min-width: 150px"><select>
							<option>pc</option>
					</select> <select>
							<option>모바일</option>
					</select></td>

					<td><a href="#none" class="btnstyle">추가</a><br> <a
						href="#none" class="btnstyle" style="margin-top: 5px">수정</a><br>
						<a href="#none" class="btnstyle" style="margin-top: 5px">삭제</a></td>
				</tr>
				<tr>
					<td class="cheack_are"><input type="checkbox"></td>
					<td>123456</td>
					<td><input type="text" placeholder="상패 트로피"></td>
					<td>13</td>
					<td class="cheack_are"><input type="checkbox"><span>가능</span>
					</td>
					<td class="cheack_are"><input type="text" placeholder="1"
						class="w50"></td>
					<td style="min-width: 150px"><input type="text"
						placeholder="폭" class="w50"> <input type="text"
						placeholder="높이" class="w50"></td>
					<td style="min-width: 150px"><input type="text"
						placeholder="폭" class="w50"> <input type="text"
						placeholder="높이" class="w50"></td>
					<td style="min-width: 150px"><input type="text"
						placeholder="폭" class="w50"> <input type="text"
						placeholder="높이" class="w50"></td>
					<td style="min-width: 150px"><select>
							<option>pc</option>
					</select> <select>
							<option>모바일</option>
					</select></td>

					<td><a href="#none" class="btnstyle">추가</a><br> <a
						href="#none" class="btnstyle" style="margin-top: 5px">수정</a><br>
						<a href="#none" class="btnstyle" style="margin-top: 5px">삭제</a></td>
				</tr>
			</table>
		</div>
	</div>
</section>