<section class="main">
	<div class="title">
		<h2>쇼핑몰설정</h2>

		<div class="time">
			<span id="todayIs"> 2022년 10월 18일 </span> <span> <b> <span>
						<img src="/admin/images/time.png">
				</span> <em id="clock" style="font-style: normal"></em>
			</b>
			</span>
		</div>
	</div>

	<div class="tab_are stiky">

		<ul class="left">
			<li><a href="#none" style="margin-right: 10px"> 사업자정보</a></li>
			<li><a href="#none" style="margin-right: 10px"> 스킨설정</a></li>
			<li><a href="#none" style="margin-right: 10px"> 쇼핑몰 초기화면</a></li>
			<li><a href="#none" style="margin-right: 10px"> 모바일 초기화면</a></li>
			<li><a href="#none" style="margin-right: 10px"> 결제 설정</a></li>
			<li><a href="#none" style="margin-right: 10px"> 배송설정</a></li>

		</ul>
	</div>

	<div class="table_are textleft">
		<h2>사업자정보</h2>
		<div class="table">

			<table>
				<tr>
					<th>회사명</th>
					<td><input type="text"></td>
					<th>사업자등록번호</th>
					<td><input type="text"></td>
				<tr>
				<tr>
					<th>대표자명</th>
					<td colspan="3"><input type="text"></td>
				<tr>
				<tr>
					<th>대표전화번호</th>
					<td><input type="text"></td>
					<th>팩스번호</th>
					<td><input type="text"></td>
				<tr>
				<tr>
					<th>통신판매업 신고번호</th>
					<td><input type="text"></td>
					<th>부가통신 사업자번호</th>
					<td><input type="text"></td>
				<tr>
				<tr>
					<th>사업장우편번호</th>
					<td><input type="text"></td>
					<th>사업장주소</th>
					<td><input type="text"></td>
				<tr>
				<tr>
					<th>정보관리책임자명</th>
					<td><input type="text"></td>
					<th>정보책임자 e-mail</th>
					<td><input type="text"></td>
				<tr>
			</table>

		</div>

	</div>

	<div class="table_are textleft">
		<h2>스킨설정</h2>
		<div class="table">

			<table>
				<tr>
					<th>PC용 스킨</th>
					<td><select>
							<option>basic</option>
							<option>basic</option>
					</select></td>
				<tr>
				<tr>
					<th>모바일용 스킨</th>
					<td><select>
							<option>basic</option>
							<option>basic</option>
					</select></td>
				<tr>
			</table>

		</div>

	</div>


	<div class="table_are textleft">
		<h2>쇼핑몰 초기화면</h2>
		<div class="table">

			<table>
				<tr>
					<th>히트상품출력</th>
					<td><select>
							<option>basic</option>
							<option>basic</option>
					</select> <input type="checkbox"><span style="margin-left: 5px">출력</span>
					</td>
				<tr>
				<tr>
					<th>추천상품출력</th>
					<td><select>
							<option>basic</option>
							<option>basic</option>
					</select> <input type="checkbox"><span style="margin-left: 5px">출력</span>
					</td>
				<tr>
				<tr>
					<th>최신상품출력</th>
					<td><select>
							<option>basic</option>
							<option>basic</option>
					</select> <input type="checkbox"><span style="margin-left: 5px">출력</span>
					</td>
				<tr>
				<tr>
					<th>인기상품출력</th>
					<td><select>
							<option>basic</option>
							<option>basic</option>
					</select> <input type="checkbox"><span style="margin-left: 5px">출력</span>
					</td>
				<tr>
				<tr>
					<th>할인상품출력</th>
					<td><select>
							<option>basic</option>
							<option>basic</option>
					</select> <input type="checkbox"><span style="margin-left: 5px">출력</span>
					</td>
				<tr>
			</table>

		</div>

	</div>


	<div class="table_are textleft">
		<h2>모바일 쇼핑몰 초기화면 설정</h2>
		<div class="table">

			<table>
				<tr>
					<th>히트상품출력</th>
					<td><select>
							<option>basic</option>
							<option>basic</option>
					</select> <input type="checkbox"><span style="margin-left: 5px">출력</span>
					</td>
				<tr>
				<tr>
					<th>추천상품출력</th>
					<td><select>
							<option>basic</option>
							<option>basic</option>
					</select> <input type="checkbox"><span style="margin-left: 5px">출력</span>
					</td>
				<tr>
				<tr>
					<th>최신상품출력</th>
					<td><select>
							<option>basic</option>
							<option>basic</option>
					</select> <input type="checkbox"><span style="margin-left: 5px">출력</span>
					</td>
				<tr>
				<tr>
					<th>인기상품출력</th>
					<td><select>
							<option>basic</option>
							<option>basic</option>
					</select> <input type="checkbox"><span style="margin-left: 5px">출력</span>
					</td>
				<tr>
				<tr>
					<th>할인상품출력</th>
					<td><select>
							<option>basic</option>
							<option>basic</option>
					</select> <input type="checkbox"><span style="margin-left: 5px">출력</span>
					</td>
				<tr>
			</table>

		</div>

	</div>



	<div class="table_are textleft">
		<h2>결제설정</h2>
		<div class="table">

			<table>
				<tr>
					<th>무통장입금사용</th>
					<td><select>
							<option>사용</option>
							<option>비사용</option>
					</select>
						<p style="margin-top: 10px">

							주문시 무통장으로 입금을 가능하게 할것인지를 설정합니다.<br> 사용할 경우 은행계좌번호를 반드시 입력하여
							주십시오.
						</p></td>
				<tr>
				<tr>
					<th>은행계좌번호</th>
					<td><input type="text"></td>
				<tr>
				<tr>
					<th>계좌이체 결제사용</th>
					<td><select>
							<option>사용</option>
							<option>비사용</option>
					</select>
						<p style="margin-top: 10px">주문시 실시간 계좌이체를 가능하게 할것인지를 설정합니다.</p></td>
				<tr>
				<tr>
					<th>가상계좌 결제사용</th>
					<td><select>
							<option>사용</option>
							<option>비사용</option>
					</select>
						<p style="margin-top: 10px">주문별로 유일하게 생성되는 일회용 계좌번호입니다. 주문자가
							가상계좌에 입금시 상점에 실시간으로 통보가 되므로 업무처리가 빨라집니다.</p></td>
				<tr>
				<tr>
					<th>휴대폰결제사용</th>
					<td><select>
							<option>사용</option>
							<option>비사용</option>
					</select>
						<p style="margin-top: 10px">주문시 휴대폰 결제를 가능하게 할것인지를 설정합니다.</p></td>
				<tr>
				<tr>
					<th>신용카드결제사용</th>
					<td><select>
							<option>사용</option>
							<option>비사용</option>
					</select>
						<p style="margin-top: 10px">주문시 신용카드 결제를 가능하게 할것인지를 설정합니다.</p></td>
				<tr>
				<tr>
					<th>신용카드 무이자할부사용</th>
					<td><select>
							<option>사용</option>
							<option>비사용</option>
					</select>
						<p style="margin-top: 10px">
							주문시 신용카드 무이자할부를 가능하게 할것인지를 설정합니다.<br> 사용으로 설정하시면 KCP PG사
							가맹점 관리자 페이지에서 설정하신 무이자할부 설정이 적용됩니다.<br> 사용안함으로 설정하시면 KCP
							PG사 무이자 이벤트 카드를 제외한 모든 카드의 무이자 설정이 적용되지 않습니다.
						</p></td>
				<tr>
				<tr>
					<th>PG사 간편결제 버튼 사용</th>
					<td><select>
							<option>사용</option>
							<option>비사용</option>
					</select>
						<p style="margin-top: 10px">주문서 작성 페이지에 PG사 간편결제(PAYCO,
							PAYNOW, KPAY) 버튼의 별도 사용 여부를 설정합니다.</p></td>
				<tr>
				<tr>
					<th>현금영수증 발급사용</th>
					<td><select>
							<option>사용</option>
							<option>비사용</option>
					</select>
						<p style="margin-top: 10px">
							관리자는 설정에 관계없이 주문내역 > 보기에서 발급이 가능합니다.<br> 현금영수증 발급 취소는 PG사에서
							지원하는 현금영수증 취소 기능을 사용하시기 바랍니다.
						</p></td>
				<tr>
				<tr>
					<th>포인트 사용</th>
					<td><select>
							<option>사용</option>
							<option>비사용</option>
					</select>
						<p style="margin-top: 10px">환경설정 > 기본환경설정과 동일한 설정입니다.</p></td>
				<tr>
				<tr>
					<th>결제 최소포인트</th>
					<td><input type="text" placeholder="1,000">

						<p style="margin-top: 10px">회원의 포인트가 설정값 이상일 경우만 주문시 결제에 사용할
							수 있습니다. 포인트 사용을 하지 않는 경우에는 의미가 없습니다.</p></td>
				<tr>
				<tr>
					<th>최대 결제포인트</th>
					<td><input type="text" placeholder="1,000">

						<p style="margin-top: 10px">회원의 포인트가 설정값 이상일 경우만 주문시 결제에 사용할
							수 있습니다. 포인트 사용을 하지 않는 경우에는 의미가 없습니다.</p></td>
				<tr>
				<tr>
					<th>결제 포인트단위</th>
					<td><select>
							<option>100점</option>

					</select>
						<p style="margin-top: 10px">주문 결제시 사용되는 포인트의 절사 단위를 설정합니다.</p></td>
				<tr>
				<tr>
					<th>포인트부여</th>
					<td><select>
							<option>예</option>
							<option>아니오</option>

					</select>
						<p style="margin-top: 10px">신용카드, 계좌이체, 휴대폰 결제시 포인트를 부여할지를
							설정합니다. (기본값은 '아니오')</p></td>
				<tr>
				<tr>
					<th>주문완료 포인트</th>
					<td><span>주문완료</span> <input type="text" placeholder=""
						class="w50"> <span>일 이후에 포인트를 지급</span>
						<p>
							주문자가 회원일 경우에만 주문완료시 포인트를 지급합니다. 주문취소, 반품 등을 고려하여 포인트를 지급할 적당한
							기간을 입력하십시오. (기본값은 7일)<br> 0일로 설정하는 경우에는 주문완료와 동시에 포인트를
							지급합니다.
						</p></td>
				<tr>
			</table>

		</div>

	</div>



	<div class="table_are textleft">
		<h2>배송설정</h2>
		<div class="table">

			<table>
				<tr>
					<th>배송업체</th>
					<td><select>
							<option>없음</option>
							<option>대한통운</option>
					</select>
						<p style="margin-top: 10px">이용 중이거나 이용하실 배송업체를 선택하세요.</p></td>
				<tr>
				<tr>
					<th>배송비유형</th>
					<td><select>
							<option>금액별차등</option>
							<option>금액별차등</option>
					</select>
						<p style="margin-top: 10px">
							금액별차등으로 설정한 경우, 주문총액이 배송비상한가 미만일 경우 배송비를 받습니다.<br> 무료배송으로
							설정한 경우, 배송비상한가 및 배송비를 무시하며 착불의 경우도 무료배송으로 설정합니다.<br> 상품별로
							배송비 설정을 한 경우 상품별 배송비 설정이 우선 적용됩니다.<br> 예를 들어 무료배송으로 설정했을 때
							특정 상품에 배송비가 설정되어 있으면 주문시 배송비가 부과됩니다.
						</p></td>
				<tr>
				<tr>
					<th>배송비상한가</th>
					<td><input type="text">
						<p style="margin-top: 10px">
							배송비유형이 '금액별차등'일 경우에만 해당되며 배송비상한가를 여러개 두고자 하는 경우는 ; 로 구분합니다. <br>
							예를 들어 20000원 미만일 경우 4000원, 30000원 미만일 경우 3000원 으로 사용할 경우에는
							배송비상한가를 20000;30000 으로 입력하고 배송비를 4000;3000 으로 입력합니다.
						</p></td>
				<tr>
				<tr>
					<th>배송비</th>
					<td><input type="text"></td>
				<tr>
				<tr>
					<th>희망배송일사용</th>
					<td><select>
							<option>예</option>
							<option>아니오</option>
					</select>
						<p style="margin-top: 10px">'예'로 설정한 경우 주문서에서 희망배송일을 입력 받습니다.
						</p></td>
				<tr>
				<tr>
					<th>희망배송일지정</th>
					<td><input type="text" placeholder="" class="w50"> <span>일</span>
						<p>오늘을 포함하여 설정한 날 이후부터 일주일 동안을 달력 형식으로 노출하여 선택할수 있도록 합니다.</p></td>
				<tr>
				<tr>
					<th>배송정보</th>
					<td><textarea></textarea></td>
				<tr>
				<tr>
					<th>교환/반품</th>
					<td><textarea></textarea></td>
				<tr>
			</table>

		</div>
	</div>
</section>
