<section class="main">
	<div class="title">
		<h2>
			<b style="color: darkred">C</b>OUPANG
		</h2>

		<div class="time">
			<span id="todayIs"> 2022년 10월 18일 </span> <span> <b> <span>
						<img src="/admin/images/time.png">
				</span> <em id="clock" style="font-style: normal"></em>
			</b>
			</span>
		</div>
	</div>


	<div class="tab_are">
		<ul class="left">
			<li><a href="#none" class="on">전체(41)</a></li>
			<li><a href="#none">사용중(40)</a></li>
			<li><a href="#none">빈슬롯(0)</a></li>
			<li><a href="#none">만료 예정(0)</a></li>
			<li><a href="#none">만료(1)</a></li>
			<li><a href="#none">테스트(0)</a></li>
		</ul>
		<ul class="right">
			<li><a href="#none">선택 초기화</a></li>
			<li><a href="#none">선택 수정</a></li>
			<li><a href="#none">선택 삭제</a></li>
			<li>
				<div class="date_form">
					<input type="date">
				</div>
			</li>
			<li><a href="#none" class="on">선택 기간연장</a></li>
		</ul>
	</div>

	<div class="table_are">
		<div class="btn_are">
			<ul class="left">
				<li><select>
						<option>100</option>
						<option>50</option>
						<option>30</option>
				</select> <span>개씩 보기</span></li>
				<li>
					<div class="search_form">
						<input type="text" placeholder="검색어"> <a href="#none">
							<img src="/admin/images/search.png">
						</a>
					</div>
				</li>
			</ul>
			<ul class="right">
				<li><a href="#layer1" class="btn-example"> <span><img
							src="/admin/images/ok.png"></span> 신규 등록
				</a></li>
			</ul>
		</div>


		<div class="table">

			<table>
				<tr>
					<th class="cheack_are"><input type="checkbox"></th>
					<th>번호</th>
					<th>작업컴퓨터</th>
					<th>상태</th>
					<th>이용상품</th>
					<th>고객명</th>
					<th>등록일</th>
					<th>잔여일</th>
					<th>현재순위</th>
					<th>첫순위</th>
					<th>상품URL</th>
					<th>순위검색어</th>
					<th>작업검색어</th>
					<th>설정</th>
				</tr>

				<tr>
					<td class="cheack_are"><input type="checkbox"></td>
					<td>1</td>
					<td>A</td>
					<td><a href="#none" class="state_box on">
							<div class="state"></div>
					</a></td>
					<td>일 300</td>
					<td><b>nowandnew</b></td>
					<td>22-09-02<br> 11:26
					</td>
					<td><b style="color: #ff5c00">28일남음</b><br> 22-09-02<br>
						11:26</td>
					<td class="lank"><b>17</b> <a href="#layer3"
						class="btn-example">자세히보기</a></td>
					<td class="updown"><b>17</b> <b class="down"> [ <span>
								<img src="/admin/images/down.png">
						</span> 1]
					</b></td>
					<td class="mid">
						<p>
							상품 URL : <b>https://www.naver.com/</b>
						</p>
					</td>
					<td>래시가드</td>
					<td>레이지비, 기획전, 집업, 커플, 래쉬가드</td>
					<td class="custom"><a href="#layer2" class="btn-example">
							<span><img src="/admin/images/okb.png"></span> 작업 설정
					</a></td>

				</tr>

			</table>

		</div>

	</div>

</section>




<div id="layer1" class="pop-layer">

	<div class="dim"></div>

	<div class="pop-container">
		<div class="head_pop">
			<h2>신규 등록</h2>
			<a href="#" class="btn-layerClose"> <img
				src="/images/close_pop.png">
			</a>


		</div>
		<div class="pop_form_are">
			<ul>
				<li>
					<p>이용상품</p> <select>
						<option>일300</option>
						<option>일200</option>
						<option>일100</option>
				</select>
				</li>
				<li>
					<p>고객 아이디</p> <input type="text" placeholder="nowandnew">
				</li>
			</ul>
			<ul>
				<li>
					<p>시작일</p> <input type="date">
				</li>
				<li>
					<p>기간설정</p> <input type="date">
				</li>
			</ul>
			<ul>
				<li class="w100">
					<p>상품 URL</p> <input type="text" placeholder="">
				</li>
			</ul>
			<ul>
				<li class="w100">
					<p>순위검색어</p> <input type="text" placeholder="">
				</li>
			</ul>
			<ul>
				<li class="w100">
					<p>작업검색어</p> <input type="text" placeholder="">
				</li>
			</ul>
		</div>

		<div class="pop_btn">
			<a href="#none" class="okbtn">신규 등록</a> <a href="#"
				class="btn-layerClose"> 등록취소 </a>
		</div>


	</div>
</div>



<div id="layer2" class="pop-layer">

	<div class="dim"></div>

	<div class="pop-container">
		<div class="head_pop">
			<h2>작업 설정</h2>
			<a href="#" class="btn-layerClose"> <img
				src="/images/close_pop.png">
			</a>


		</div>
		<div class="pop_form_are">
			<ul>
				<li>
					<p>이용상품 변경</p> <select>
						<option>일300</option>
						<option>일200</option>
						<option>일100</option>
				</select>
				</li>
				<li>
					<p>고객 아이디</p> <span>nowandnew</span>
				</li>
			</ul>
			<ul>
				<li>
					<p>등록일</p> <span>22-09-02</span>
				</li>
				<li>
					<p>기간설정</p> <input type="date">
				</li>
			</ul>
			<ul>
				<li class="w100">
					<p>상품 URL</p> <input type="text" placeholder="">
				</li>
			</ul>
			<ul>
				<li class="w100">
					<p>순위검색어</p> <input type="text" placeholder="">
				</li>
			</ul>
			<ul>
				<li class="w100">
					<p>작업검색어</p> <input type="text" placeholder="">
				</li>
			</ul>
		</div>

		<div class="pop_btn">
			<a href="#none" class="okbtn">설정완료</a> <a href="#"
				class="btn-layerClose"> 설정취소 </a>
		</div>


	</div>
</div>



<div id="layer3" class="pop-layer">

	<div class="dim"></div>

	<div class="pop-container">
		<div class="head_pop" style="background: darkred">
			<h2 style="color: #fff">쿠팡 순위</h2>
			<a href="#" class="btn-layerClose"> <img
				src="/images/close_pop.png">
			</a>


		</div>
		<div class="pop_form_are">
			<div class="table">
				<table>
					<tr>
						<th>변동일시</th>
						<th>검색순위</th>
						<th>최초대비</th>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="down"> [ <span>
									<img src="/images/down.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown"><b>17</b> <b class="up"> [ <span>
									<img src="/images/up.png">
							</span> 1]
						</b></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="pop_btn">
			<a href="#none" class="okbtn">설정완료</a> <a href="#"
				class="btn-layerClose"> 설정취소 </a>
		</div>
	</div>
</div>



