<section class="main">
	<div class="title">
		<h2>상품관리</h2>

		<div class="time">
			<span id="todayIs"> 2022년 10월 18일 </span> <span> <b> <span>
						<img src="/admin/images/time.png">
				</span> <em id="clock" style="font-style: normal"></em>
			</b>
			</span>
		</div>
	</div>

	<div class="tab_are">
		<ul class="left flex">
			<li><select>
					<option>전체분류</option>
			</select></li>
			<li><select>
					<option>상품명</option>
			</select></li>
			<li><input type="text"></li>

			<li><a href="#none" class="on2">검색</a></li>

		</ul>
	</div>

	<div class="table_are">

		<div class="btn_are">
			<ul class="left">

			</ul>
			<ul class="right">
				<li><a href="#none" class=""> <span><img
							src="/admin/images/ok.png"></span> 신규 등록
				</a></li>

				<li><a href="#none" class=""> 선택수정</a></li>

				<li><a href="#none" class=""> 선택삭제</a></li>

			</ul>
		</div>




		<div class="table">

			<table>
				<tr>
					<th class="cheack_are"><input type="checkbox"></th>
					<th>상품코드</th>
					<th>상품</th>
					<th>가격</th>
					<th>시중가격</th>
					<th>재고</th>
					<th>순서</th>
					<th>판매</th>
					<th>품절</th>
					<th>관리</th>

				</tr>

				<tr>
					<td class="cheack_are"><input type="checkbox"></td>
					<td>1669164207</td>
					<td>
						<div class="thum_search">
							<img src="/admin/images/thum.png" style="max-width: 50px">
							<span style="margin-left: 10px"> <input type="text"
								placeholder="ddd" value="ddd" class="w50p">
							</span>

						</div>
					</td>
					<td><input type="text" placeholder="13000" value="13000"
						class="w50p"></td>
					<td><input type="text" placeholder="13000" value="13000"
						class="w50p"></td>
					<td><input type="text" placeholder="1" value="1" class="w50">
					</td>
					<td><input type="text" placeholder="1" value="1" class="w50">
					</td>
					<td><input type="checkbox"></td>
					<td><input type="checkbox"></td>
					<td><a href="#none" class="btnstyle">수정</a><br> <a
						href="#none" class="btnstyle" style="margin-top: 5px">복사</a></td>


				</tr>
				<tr>
					<td class="cheack_are"><input type="checkbox"></td>
					<td>1669164207</td>
					<td>
						<div class="thum_search">
							<img src="/admin/images/thum.png" style="max-width: 50px">
							<span style="margin-left: 10px"> <input type="text"
								placeholder="ddd" value="ddd" class="w50p">
							</span>

						</div>
					</td>
					<td><input type="text" placeholder="13000" value="13000"
						class="w50p"></td>
					<td><input type="text" placeholder="13000" value="13000"
						class="w50p"></td>
					<td><input type="text" placeholder="1" value="1" class="w50">
					</td>
					<td><input type="text" placeholder="1" value="1" class="w50">
					</td>
					<td><input type="checkbox"></td>
					<td><input type="checkbox"></td>
					<td><a href="#none" class="btnstyle">수정</a><br> <a
						href="#none" class="btnstyle" style="margin-top: 5px">복사</a></td>


				</tr>
				<tr>
					<td class="cheack_are"><input type="checkbox"></td>
					<td>1669164207</td>
					<td>
						<div class="thum_search">
							<img src="/admin/images/thum.png" style="max-width: 50px">
							<span style="margin-left: 10px"> <input type="text"
								placeholder="ddd" value="ddd" class="w50p">
							</span>

						</div>
					</td>
					<td><input type="text" placeholder="13000" value="13000"
						class="w50p"></td>
					<td><input type="text" placeholder="13000" value="13000"
						class="w50p"></td>
					<td><input type="text" placeholder="1" value="1" class="w50">
					</td>
					<td><input type="text" placeholder="1" value="1" class="w50">
					</td>
					<td><input type="checkbox"></td>
					<td><input type="checkbox"></td>
					<td><a href="#none" class="btnstyle">수정</a><br> <a
						href="#none" class="btnstyle" style="margin-top: 5px">복사</a></td>


				</tr>


			</table>

		</div>

	</div>
</section>
