<section class="main">
	<div class="title">
		<h2>주문 내역 수정</h2>

		<div class="time">
			<span id="todayIs"> 2022년 10월 18일 </span> <span> <b> <span>
						<img src="/admin/images/time.png">
				</span> <em id="clock" style="font-style: normal"></em>
			</b>
			</span>
		</div>
	</div>

	<div class="tab_are stiky">

		<ul class="left">

			<li><a href="#none" style="margin-right: 10px"> 주문상품 목록</a></li>
			<li><a href="#none" style="margin-right: 10px"> 주문결제 내역</a></li>
			<li><a href="#none" style="margin-right: 10px"> 결제상세정보</a></li>
			<li><a href="#none" style="margin-right: 10px"> 상점메모</a></li>
			<li><a href="#none" style="margin-right: 10px"> 주문자/배송지 정보</a>
			</li>


		</ul>
	</div>

	<div class="table_are">

		<div class="btn_are">
			<ul class="left flex">
				<li>현재 주문상태 <b>입금</b> | 주문일시 <b>2022-12-20 18:14 (화)</b> |
					주문총액 <b>720,000원</b>
				</li>


			</ul>

		</div>

		<div class="table">

			<table>
				<tr>
					<th class="cheack_are"><input type="checkbox"></th>
					<th>상품명</th>
					<th>옵션항목</th>
					<th>상태</th>
					<th>수량</th>
					<th>판매가</th>
					<th>소계</th>
					<th>쿠폰</th>
					<th>포인트</th>
					<th>배송비</th>
					<th>포인트반영</th>
					<th>재고반영</th>

				</tr>

				<tr>
					<td class="cheack_are"><input type="checkbox"></td>
					<td>
						<div class="thum_search">
							<ul>

								<img src="/admin/images/thum.png" style="max-width: 50px">

								<span style="margin-left: 5px">dddd</span>
							</ul>

						</div>
					</td>
					<td>입금</td>
					<td><input type="text" class="w50" placeholder="6"></td>
					<td>120,000</td>
					<td>720,000</td>
					<td>0</td>
					<td>21,600</td>
					<td>선불</td>
					<td>아니오</td>
					<td>아니오</td>
				</tr>


			</table>

		</div>


		<div class="btn_are" style="margin-top: 15px">
			<ul class="left flex">
				<li><b>주문 및 장바구니 상태 변경</b></li>
				<li><a href="#" class="btnstyle">주문</a> <a href="#"
					class="btnstyle">입금</a> <a href="#" class="btnstyle">준비</a> <a
					href="#" class="btnstyle">배송</a> <a href="#" class="btnstyle">완료</a>
					<a href="#" class="btnstyle">취소</a> <a href="#" class="btnstyle">반품</a>
					<a href="#" class="btnstyle">품절</a></li>

			</ul>

		</div>

	</div>

	<div class="table_are">
		<div class="table">

			<table>
				<tr>
					<th class="cheack_are">주문번호</th>
					<th>결제방법</th>
					<th>주문총액</th>
					<th>배송비</th>
					<th>포인트결제</th>
					<th>총결제액</th>
					<th>쿠폰</th>
					<th>주문취소</th>
				</tr>

				<tr>
					<td>2022122018095485</td>
					<td>신용카드</td>
					<td><b>720,000원 </b></td>
					<td>0원</td>
					<td>0점</td>
					<td>720,000원</td>
					<td>0원</td>
					<td>0원</td>
				</tr>


			</table>

		</div>
	</div>

	<div class="flex flex2 textleft">

		<div class="table">
			<h2>결제상세정보 확인</h2>
			<table>
				<tr>
					<th>신용카드 결제금액</th>
					<td>720,000원</td>
				</tr>
				<tr>
					<th>카드 승인일시</th>
					<td>2022-12-20 18:14:35</td>
				</tr>
				<tr>
					<th>결제대행사 링크</th>
					<td>KG이니시스바로가기</td>
				</tr>
				<tr>
					<th>포인트</th>
					<td>720,000원</td>
				</tr>
				<tr>
					<th>결제취소/환불액</th>
					<td>720,000원</td>
				</tr>
				<tr>
					<th>배송비</th>
					<td><input type="text" class="w50"><span>원</span></td>
				</tr>
				<tr>
					<th>추가배송비</th>
					<td><input type="text" class="w50"><span>원</span></td>
				</tr>

			</table>
			<a href="#none" class="btnstyle" style="margin-top: 15px">수정</a>

		</div>

		<div class="table">
			<h2>결제상세정보 수정</h2>
			<table>
				<tr>
					<th>신용카드 결제금액</th>
					<td><input type="text" class="w50"><span>원</span></td>
				</tr>
				<tr>
					<th>카드 승인일시</th>
					<td><input type="date" class=""></td>
				</tr>
				<tr>
					<th>포인트 결제액</th>
					<td><input type="text" class="w50"><span>원</span></td>
				</tr>
				<tr>
					<th>결제취소/환불 금액</th>
					<td><input type="text" class="w50"><span>원</span></td>
				</tr>
				<tr>
					<th>운송장번호</th>
					<td><input type="text" class=""></td>
				</tr>
				<tr>
					<th>배송회사</th>
					<td><input type="text" class=""></td>
				</tr>
				<tr>
					<th>배송일시</th>
					<td><input type="date" class=""></td>
				</tr>
			</table>

		</div>
	</div>


	<div class="flex flex2 textleft">

		<div class="table">
			<h2>상점메모</h2>
			<table>
				<tr>
					<td>현재 열람 중인 주문에 대한 내용을 메모하는곳입니다.<br> 입금, 배송 내역을 메일로 발송할
						경우 함께 기록됩니다.
					</td>
				</tr>
				<tr>
					<td><textarea></textarea></td>
				</tr>
			</table>

			<a href="#none" class="btnstyle" style="margin-top: 15px">메모수정</a>

		</div>
	</div>

	<div class="flex flex2 textleft">
		<div class="table">
			<h2>주문하신 분</h2>
			<table>
				<tr>
					<th>이름</th>
					<td><input type="text" class="w50"></td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td><input type="text" class="w50"></td>
				</tr>
				<tr>
					<th>핸드폰</th>
					<td><input type="text" class="" placeholder="기본주소"><br>
						<input type="text" class="" placeholder="상세주소"></td>
				</tr>
				<tr>
					<th>주소</th>
					<td><input type="text" class="w50"></td>
				</tr>
				<tr>
					<th>E-mail</th>
					<td><input type="text" class=""></td>
				</tr>
			</table>

			<a href="#none" class="btnstyle" style="margin-top: 15px">수정</a>

		</div>

		<div class="table">
			<h2>받으시는 분</h2>
			<table>
				<tr>
					<th>이름</th>
					<td><input type="text" class="w50"></td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td><input type="text" class="w50"></td>
				</tr>
				<tr>
					<th>핸드폰</th>
					<td><input type="text" class="" placeholder="기본주소"><br>
						<input type="text" class="" placeholder="상세주소"></td>
				</tr>
				<tr>
					<th>주소</th>
					<td><input type="text" class="w50"></td>
				</tr>
				<tr>
					<th>전달 메세지</th>
					<td><input type="text" class=""></td>
				</tr>

			</table>

		</div>

	</div>
</section>