<section class="main">
	<div class="title">
		<h2>주문내역</h2>

		<div class="time">
			<span id="todayIs"> 2022년 10월 18일 </span> <span> <b> <span>
						<img src="/admin/images/time.png">
				</span> <em id="clock" style="font-style: normal"></em>
			</b>
			</span>
		</div>
	</div>


	<div class="tab_are">
		<ul class="left">
			<li><select>
					<option>주문번호</option>
					<option>ID</option>
			</select></li>
			<li><input type="text"></li>
			<li><a href="#none" class="on2">조회</a></li>

		</ul>
	</div>

	<div class="tab_are noflex">
		<ul class="left">
			<li>
				<p>주문상태</p>
			</li>
			<li><input type="radio"><span>전체</span> <input
				type="radio"><span>주문</span> <input type="radio"><span>입금</span>
				<input type="radio"><span>준비</span> <input type="radio"><span>배송</span>
				<input type="radio"><span>완료</span> <input type="radio"><span>전체취소</span>
				<input type="radio"><span>부분취소</span></li>


		</ul>
		<ul class="left">
			<li>
				<p>결제수단</p>
			</li>
			<li><input type="radio"><span>전체</span> <input
				type="radio"><span>무통장</span> <input type="radio"><span>가상계좌</span>
				<input type="radio"><span>계좌이체</span> <input type="radio"><span>휴대폰</span>
				<input type="radio"><span>신용카드</span> <input type="radio"><span>간편결제</span>
				<input type="radio"><span>KAKAOPAY</span></li>


		</ul>
		<ul class="left">
			<li>
				<p>기타선택</p>
			</li>
			<li><input type="checkbox"><span>미수금</span> <input
				type="checkbox"><span>반품,품절</span> <input type="checkbox"><span>환불</span>
				<input type="checkbox"><span>포인트주문</span> <input
				type="checkbox"><span>쿠폰</span></li>


		</ul>
		<ul class="left">
			<li>
				<p>주문일자</p>
			</li>
			<li><input type="text" class="w50"><span
				style="margin: 0 5px">~</span><input type="text" class="w50">
			</li>
			<li><a href="#none" class="on2">오늘</a> <a href="#none"
				class="on2">어제</a> <a href="#none" class="on2">이번주</a> <a
				href="#none" class="on2">이번달</a> <a href="#none" class="on2">전체</a>
				<a href="#none" class="on3">검색</a></li>

		</ul>
	</div>

	<div class="table_are">

		<div class="table">
			<table>
				<tr>
					<th class="cheack_are"><input type="checkbox"></th>
					<th>주문번호</th>
					<th>주문상태</th>
					<th>결제수단</th>
					<th>주문자</th>
					<th>회원ID</th>
					<th>운송장번호</th>
					<th>주문자전화</th>
					<th>주문상품수</th>
					<th>배송회사</th>
					<th>받는분</th>
					<th>누적주문수</th>
					<th>배송일시</th>
					<th>주문합계 선불배송비포함</th>
					<th>입금합계</th>
					<th>주문취소</th>
					<th>쿠폰</th>
					<th>미수금</th>
					<th>보기</th>
				</tr>

				<tr>
					<td class="cheack_are"><input type="checkbox"></td>
					<td><b style="color: #000">20221220-18095485</b></td>
					<td>입금</td>
					<td>신용카드</td>
					<td>강훈</td>
					<td>seoukkang</td>
					<td>000</td>
					<td>01096112282</td>
					<td>1건</td>
					<td>000</td>
					<td>강훈</td>
					<td>1건</td>
					<td>000</td>
					<td><b style="color: #000">720,000 </b></td>
					<td>720,000</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td><a href="#none" class="btnstyle">보기</a></td>
				</tr>


			</table>

		</div>

	</div>

</section>
