<section class="main">
	<div class="title">
		<h2>검색 순위추적</h2>

		<div class="time">
			<span id="todayIs"> 2022년 10월 18일 </span> <span> <b> <span>
						<img src="/admin/images/time.png">
				</span> <em id="clock" style="font-style: normal"></em>
			</b>
			</span>
		</div>
	</div>


	<div class="tab_are">
		<ul class="left flex">
			<li>
				<p>쇼핑 채널 선택</p> <select>
					<option>네이버</option>
					<option>쿠팡</option>
			</select>
			</li>
			<li>
				<p>스토어명 입력</p> <input type="text">
			</li>
			<li>
				<p>목표 키워드 입력</p> <input type="text">
			</li>
			<li><a href="#none" class="on2">순위조회</a></li>

		</ul>
	</div>

	<div class="table_are">
		<div class="btn_are">
			<ul class="left flex">
				<li>총 <b>2</b>개
				</li>
				<li class="lankfind"><a href="#none"> 순위추적</a></li>

			</ul>

		</div>


		<div class="table">

			<table>
				<tr>
					<th class="cheack_are"><input type="checkbox"></th>
					<th>추적여부</th>
					<th>상품</th>
					<th>스토어명</th>
					<th>키워드</th>
					<th>순위</th>
					<th>순위(광고제외)</th>
				</tr>

				<tr>
					<td class="cheack_are"><input type="checkbox"></td>
					<td><b style="color: blue">추적중</b></td>
					<td>
						<div class="thum_search">
							<ul>
								<li><img src="/admin/images/thum.png"></li>
								<li>다이나믹 무플보호대 헬스...<br> 55542114284
								</li>
							</ul>

						</div>
					</td>
					<td>다이아믹</td>
					<td>무플보호대</td>
					<td><b> 8위</b><br> 1페이지 8위</td>
					<td><b> 8위</b><br> 1페이지 8위</td>


				</tr>
				<tr>
					<td class="cheack_are"><input type="checkbox"></td>
					<td><b style="color: #000">순위 추적</b></td>
					<td>
						<div class="thum_search">
							<ul>
								<li><img src="/admin/images/thum.png"></li>
								<li>다이나믹 무플보호대 헬스...<br> 55542114284
								</li>
							</ul>

						</div>
					</td>
					<td>다이아믹</td>
					<td>무플보호대</td>
					<td><b> 8위</b><br> 1페이지 8위</td>
					<td><b> 8위</b><br> 1페이지 8위</td>
				</tr>


			</table>

		</div>

	</div>

</section>