<section class="sub">
    <div class="sub_title">
        <h2>내정보변경</h2>
    </div>

    <div class="mybox">
        <h2>"회원님의 정보보호를 위해 비밀번호를 확인합니다."</h2>
        <ul>
            <li>
                <div class="flex_my">
                    <span>이름</span>
                    <span><%= memberInfo.mb_name %></span>
                </div>
            </li>
            <li>
                <form id="frm" method="POST" action="/front/mypage/memberCheck" onsubmit="return memberCheckFunc();">
                <div class="flex_my">
                    <span>비밀번호</span>
                    <input type="password" id="mb_password" name="mb_password" value="">
                </div>
            </li>
        </ul>
        <div class="lost">
            <span>비밀번호를 잊으셨나요?</span>
            <a href="#">비밀번호 찾기</a>
        </div>
    </div>
    <div class="btn_pry">
        <!--a href="#" class="btn01 btn">취소</a-->
        <a href="javascript:void(0)" class="btn02 btn" onclick="onSubmit()">확인</a>
    </div>
</section>

<script>
    function onSubmit(){
        $('#frm').submit();
    }

    function memberCheckFunc(){
        if($('#mb_password').val() == ''){
            alert('비밀번호를 입력해주세요.');
            return false;
        }

        return true;
    }
</script>