<section class="sub">
    <div class="sub_title">
        <h2>환경설정</h2>
    </div>
    <div class="mybox">
        <ul>
            <li>
                <div class="flex_my">
                    <span>이름</span>
                    <input type="text" value="" placeholder="홍길동">
                </div>
            </li>
            <li>
                <div class="flex_my">
                    <span>핸드폰번호</span>
                    <input type="text" value="" placeholder="01011111111">
                </div>
            </li>
            <li>
                <div class="flex_my">
                    <span>비밀번호</span>
                    <input type="text" value="아이디">
                </div>
            </li>
            <li>
                <div class="flex_my">
                    <span>이메일</span>
                    <input type="text" value="" placeholder="00@naver.com">
                </div>
            </li>
            <li>
                <div class="flex_my">
                    <span>전화번호</span>
                    <input type="text" value="" placeholder="020000000">
                </div>
            </li>
        </ul>
    </div>

    <div class="btn_pry">
        <!--a href="#" class="btn01 btn">취소</a-->
        <a href="#" class="btn02 btn">변경하기</a>
    </div>
</section>