<section class="main">
	<div class="title">
		<h2>로고 관리</h2>
		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>

	<div class="table table_are textleft mart50">
		<!-- <h2>로고 정보</h2> -->
		<div class="table">
			<table>
				<tr>
					<th>대표로고</th>
					<td class="filebox">
						<input class="upload-name" value="" placeholder="등록된 파일이 없습니다." readonly id="logo_file_nm" onclick="openSelFile('logo_file')">
						<label for="logo_file">파일선택</label>
						<input type="file" class="pad4" id="logo_file" hidden>
						<a href="javascript:void(0);" class="file_del" id="logo_file_del" data-id="logo_file">삭제</a>
						<div class="mart20">
							<img src="/admin/images/thum.png">
						</div>
					</td>
				</tr>
				<tr>
					<th>SNS 로고</th>
					<td class="filebox">
						<input class="upload-name" value="" placeholder="등록된 파일이 없습니다." readonly id="sns_logo_file_nm" onclick="openSelFile('sns_logo_file')">
						<label for="sns_logo_file">파일선택</label>
						<input type="file" class="pad4" id="sns_logo_file" hidden>
						<a href="javascript:void(0);" class="file_del" id="sns_logo_file_del" data-id="sns_logo_file">삭제</a>
						<div class="mart20">
							<img src="/admin/images/thum.png">
						</div>
					</td>
				</tr>
				<tr>
					<th>파비콘 (favicon)</th>
					<td class="filebox">
						<input class="upload-name" value="" placeholder="등록된 파일이 없습니다." readonly id="favicon_file_nm" onclick="openSelFile('favicon_file')">
						<label for="favicon_file">파일선택</label>
						<input type="file" class="pad4" id="favicon_file" hidden>
						<a href="javascript:void(0);" class="file_del" id="favicon_file_del" data-id="favicon_file">삭제</a>
						<div class="mart20">
							<img src="/admin/images/thum.png">
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="btn_confirm">
		<a href="javascript:void(0);" class="btn_submit" onclick="partnerModify()">저장</a>
		<a href="javascript:history.back();" class="btn_submit">취소</a>
	</div>

</section>

<script type="text/javascript" src="/admin/js/validation.js"></script>