<section class="main">
	<div class="title">
		<h2>팝업 관리</h2>
		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>

	<div class="table table_are textleft mart50">
		<div class="table">
			<table>
				<tr>
					<th>접속기기</th>
					<td>
						<select>
							<option>BOTH</option>
							<option>PC</option>
							<option>MOBILE</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>팝업크기</th>
					<td>
						<span class="fc_blk">width: </span><input type="text" placeholder="" id="" size="5">&nbsp;<span class="fc_blk">px</span>
						<span class="fc_blk marl10">height: </span><input type="text" placeholder="" id="" size="5">&nbsp;<span class="fc_blk">px</span>
					</td>
				</tr>
				<tr>
					<th>팝업위치</th>
					<td>
						<span class="fc_blk">top: </span><input type="text" placeholder="" id="" size="5">&nbsp;<span class="fc_blk">px</span>
						<span class="fc_blk marl10">left: </span><input type="text" placeholder="" id="" size="5">&nbsp;<span class="fc_blk">px</span>
					</td>
				</tr>
				<tr>
					<th>팝업제목</th>
					<td><input type="text" placeholder="" id="" size="30"></td>
				</tr>
				<tr>
					<th>팝업내용</th>
					<td><div id="classic"></div></td>
				</tr>
				<tr>
					<th class="padt17 padb17">노출여부</th>
					<td>
						<input type="checkbox"><span>노출</span>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="btn_confirm">
		<a href="javascript:void(0);" class="btn_submit" onclick="">저장</a>
		<a href="javascript:history.back();" class="btn_submit">취소</a>
	</div>

</section>

<script type="text/javascript" src="/admin/js/validation.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!-- 넓이 높이 조절 -->
<style>
	.ck.ck-editor {
		width: 100%;
	}
	.ck-editor__editable {
		min-height: 500px;
	}
</style>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
<script>
	ClassicEditor
		.create( document.querySelector( '#classic' ), {language: "ko"})
		.catch( error => {
			console.error( error );
		} );
</script>