<section class="main">
	<div class="title">
		<h2>팝업 관리</h2>

		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>

	<div class="tab_are mart50">
		<ul class="left">
			<li>
				<select>
					<option>제목</option>
					<option>내용</option>
				</select>
			</li>
			<li>
				<input type="text" placeholder="검색어" id="keyword" onkeyup=""> 
			</li>
			<li>
				<a href="javascript:void(0);" class="on3" onclick="">검색</a>
				<a href="#none" class="on3">초기화</a>
			</li>
		</ul>
	</div>

	<div class="tab_are">
		<ul class="left" id="count_ul">
			<li><a href="javascript:void(0);" class="on">전체(<span>0</span>)</a></li>
			<li><a href="javascript:void(0);" data-level="1">노출(<span>0</span>)</a></li>
			<li><a href="javascript:void(0);" data-level="2">비노출(<span>0</span>)</a></li>
		</ul>
	</div>

	<div class="table_are">
		<div class="btn_are marl10">
			<ul class="left flex">
				<li>전체 : <b><span id="total_count">0</span></b> 건 조회</li>
				<li>
					<select id="search_count">
						<option value="30">30</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select> 
					<span>개씩 보기</span>
				</li>
			</ul>
		</div>
		<div class="btn_are mart20">
			<ul class="left">
				<li class="marr5"><a href="#none" class="">선택수정</a></li>
				<li class="marr5"><a href="#none" class="">선택삭제</a></li>
			</ul>
			<ul class="right">
				<li>
					<a href="javascript:void(0);" onclick="openMemberPop('회원 등록', 'REGIST');" class="btn-example"> <span><img src="/admin/images/ok.png"></span>신규 등록</a>
				</li>
			</ul>
		</div>
		<div class="table">
			<table>
				<colgroup>
					<col class="w50">
					<col class="w70">
					<col class="w100">
					<col>
					<col class="w150">
					<col class="w150">
					<col class="w150">
					<col class="w120">
					<col class="w120">
					<col class="w120">
				</colgroup>
				<thead>
					<th scope="col" class="cheack_are"><input type="checkbox"></th>
					<th scope="col">번호</th>
					<th scope="col">노출여부</th>
					<th scope="col">제목</th>
					<th scope="col">접속기기</th>
					<th scope="col">팝업시작일</th>
					<th scope="col">팝업종료일</th>
					<th scope="col">팝업크기</th>
					<th scope="col">팝업위치</th>
					<th scope="col">설정</th>
				</thead>
				<tbody id="pointListBody">
					<td scope="col"><input type="checkbox"></td>
					<td scope="col">1</td>
					<td scope="col">
						<a href="#none" class="state_box on"><div class="state"></div></a>
						<!-- <a href="#none" class="state_box"><div class="state"></div></a> -->
					</td>
					<td scope="col">신규오픈</td>
					<td scope="col">
						<select>
							<option>BOTH</option>
							<option>PC</option>
							<option>MOBILE</option>
						</select>
					</td>
					<td scope="col"><input type="date"></td>
					<td scope="col"><input type="date"></td>
					<td scope="col"><input type="text" class="w80"></td>
					<td scope="col"><input type="text" class="w80"></td>
					<td scope="col" class="custom">
						<a href="javascript:void(0);" class="btn-example"><span><img src="/admin/images/okb.png"></span> 정보수정</a>
					</td>
				</tbody>
			</table>
			<div id="pagenation_view" class="pagenation"></div>
		</div>
	</div>

</section>

<script type="text/javascript" src="/admin/js/validation.js"></script>

<script>
</script>