<section class="sub">
    <div class="sub_title">
        <h2>전송통계</h2>
    </div>

    <div class="adress_btn"></div>

    <div class="tab_btn_are">

        <div class="input_tab">
            <input type="text">
            <a href="#none">
                <img src="/front/images/search.png">
            </a>
        </div>

        <div class="btn">
            <span>기간선택 </span>
            <input type="date">
            <span> ~ </span>
            <input type="date">
            <a href="#" class="blue">조회</a>
        </div>
    </div>

    <div class="tlb center border">
        <table>
            <tr>
                <th>상품구분</th>
                <th>전송시도</th>
                <th>전송성공</th>
                <th>전송실패</th>
                <th>사용금액</th>
            </tr>
            <tr>
                <td>단문</td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>60</td>
            </tr>
            <tr>
                <td>장문</td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>60</td>
            </tr>
            <tr>
                <td>포토</td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>60</td>
            </tr>
            <tr>
                <td class="bgy">합계</td>
                <td class="bgy">2</td>
                <td class="bgy">1</td>
                <td class="bgy">2</td>
                <td class="bgy">60</td>
            </tr>
        </table>
    </div>

    <div class="pagenation">
        <a href="#none" class="start">
            <img src="/front/images/pagenation/ll.png">
        </a>
        <a href="#none" class="pre">
            <img src="/front/images/pagenation/l.png">
        </a>

        <a href="#" class="atv">1</a>
        <a href="#" class="">2</a>
        <a href="#" class="">3</a>
        <a href="#" class="">4</a>
        <a href="#" class="">5</a>

        <a href="#none" class="next">
            <img src="/front/images/pagenation/r.png">
        </a>
        <a href="#none" class="end">
            <img src="/front/images/pagenation/rr.png">
        </a>
    </div>

    <div class="point_pop">
        <h2>
            <span><img src="/front/images/popup/point.svg"></span>
            알아두세요!
        </h2>
        <ul class="list_ul">
            <li>전송실패건 환불은 전송시도가 완료된 시점에 처리됩니다.</li>
            <li>전송결과는 6개월간 보관되며, 기간이 경과한 데이터는 정기적으로 삭제됩니다.</li>
            <li>전송결과는 성공이지만 문자를 수신하지 못하는 경우<a href="#none"
                    style="color:#007AFF; text-decoration: underline; display: inline-block; margin-left: 5px; font-weight: bold">통신사별
                    스팸차단안내</a></li>
        </ul>
    </div>
</section>