<section class="main">
	<div class="title">
		<h2>회원정보 관리</h2>

		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>
	<div class="tab_are">
		<ul class="left" id="count_ul">
			<li><a href="javascript:void(0);" class="on">전체(<span id="total_count">0</span>)</a></li>
			<li><a href="javascript:void(0);" data-level="1">회원(<span id="member_count">0</span>)</a></li>
			<li><a href="javascript:void(0);" data-level="2">가맹점(<span id="franchisee_count">0</span>)</a></li>
			<li><a href="javascript:void(0);" data-level="10">관리자(<span id="admin_count">0</span>)</a></li>
		</ul>
	</div>
	<div class="table_are">
		<div class="btn_are">
			<ul class="left">
				<li>
					<select id="search_count">
						<option value="100">100</option>
						<option value="50">50</option>
						<option value="30">30</option>
					</select> 
					<span>개씩 보기</span>
				</li>
				<li>
					<div class="search_form">
						<input type="text" placeholder="검색어" id="keyword" onkeyup="if(window.event.keyCode==13){member_search()}"> 
						<a href="javascript:void(0);" onclick="member_search()">
							<img src="/admin/images/search.png">
						</a>
					</div>
				</li>
			</ul>
			<ul class="right">
				<li>
					<a href="javascript:void(0);" onclick="openMemberPop('회원 등록', 'REGIST');" class="btn-example"> <span><img src="/admin/images/ok.png"></span>신규 등록</a>
				</li>
			</ul>
		</div>

		<div class="table">
			<table>
				<thead>
					<th>번호</th>
					<th>ID</th>
					<th>이름</th>
					<th>회원구분</th>
					<th>연락처</th>
					<!-- <th>등급</th> -->
					<th>이메일</th>
					<th>설정</th>
				</thead>
				<tbody id="memberListBody">
					<td>1</td>
					<td>nowandnew</td>
					<td>홍길동</td>
					<td>회원</td>
					<td>01012345678</td>
					<td>test@naver.com</td>
					<!-- <td>
						<select>
							<option>일반</option>
							<option>총판</option>
							<option>관리자</option>
						</select>
					</td> -->
					<td class="custom">
						<a href="#layer2" class="btn-example"><span><img src="/admin/images/okb.png"></span>작업 설정</a>
					</td>
				</tbody>
			</table>

			<div id="pagenation_view" class="pagenation"></div>

		</div>
	</div>
</section>

<div id="memberModifyPop" class="pop-layer">
	<div class="dim"></div>
	<div class="pop-container">
		<div class="head_pop">
			<h2 id="member_text"></h2>
			<a href="javascript:void(0);" onclick="closeMemberPop();" class="btn-layerClose"><img src="/admin/images/close_pop.png"></a>
		</div>
		<div class="pop_form_are" id="member_table">
			<ul>
				<li>
					<p>아이디</p>
					<input type="text" placeholder="" id="mb_id">
				</li>
				<li>
					<p>비밀번호</p>
					<input type="text" placeholder="" id="mb_password">
				</li>
			</ul>
			<ul>
				<li>
					<p>이름</p>
					<input type="text" placeholder="" id="mb_name">
				</li>
				<li>
					<p>이메일</p>
					<input type="text" placeholder="" id="mb_email">
				</li>
			</ul>
			<ul>
				<li>
					<p>연락처</p>
					<input type="text" placeholder="" id="mb_hp" maxlength="13">
				</li>
				<li>
					<p>회원 구분</p> 
					<select id="mb_level">
						<option value="1">회원</option>
						<option value="2">가맹점</option>
						<option value="10">관리자</option>
					</select>
				</li>
			</ul>
			<ul>
				<li>
					<p>포인트</p>
					<input type="text" placeholder="" id="mb_point" value="0">
				</li>
			</ul>
		</div>
		<div class="pop_btn">
			<a href="javascript:void(0);" class="okbtn" onclick="memberModify()">등록</a>
			<a href="javascript:void(0);" class="btn-layerClose" onclick="closeMemberPop();">취소</a>
		</div>
	</div>
</div>

<script type="text/javascript" src="/admin/js/validation.js"></script>
<script>

	let index_no = null;
	let params = {}; // 검색 파라미터 (전역변수)
	params.page = 1;
	params.perPage = 2;

	function getParams(){
		// params.perPage = parseInt($('#search_count option:selected').val());
		params.keyword = $('#keyword').val();
		return params;
	}

	async function init(){
		let data = getParams();
		// 회원별 count
		let m_count = await axios.post('/admin/member/getMemberCount', data);
		for(let key in m_count.data.result[0]){
			$('#'+key).text(m_count.data.result[0][key]);
		}

		// 회원 list
		let member = await axios.post('/admin/member/getMemberList', data);

		let list = member.data.result;
		let html = '';
		if(list.length > 0){
			list.forEach(item => {
				html += `
					<tr>
						<td>${item.rownum}</td>
						<td>${item.mb_id}</td>
						<td>${item.mb_name}</td>
						<td>${item.mb_level_nm}</td>
						<td>${item.mb_hp}</td>
						<td>${item.mb_email}</td>
						<td class="custom">
							<a href="javascript:void(0);" class="btn-example" data-index=${item.index_no}>
								<span><img src="/admin/images/okb.png"></span> 작업 설정
							</a>
						</td>
					</tr>
				`
			});
		}else{
			html = '<tr><td colspan="7">데이터가 존재하지 않습니다.</td></tr>'
		}
		$('#memberListBody').html(html);

		/******************** start paging ********************/
		$(document).unbind("click").on('click', '#pagenation_view a', function(){
			params.page = $(this).data('num');
			init();
		});

		// await pagination(URL, DATA, 데이터 갯수, 페이징 갯수, 현재 페이지);
		let pagingHtml = await pagination('/admin/member/getMemberCount', params, 2, 5, params.page);
		$('#pagenation_view').html(pagingHtml);
		/******************** end paging ********************/

	}
	
	init();



	function member_search(){
		init();
	}

	function openMemberPop(text, type){
		if(type === 'REGIST'){
			index_no = null;
			$('#mb_id').prop('readonly', false);
		}else{
			$('#mb_id').prop('readonly', true);
		}
		
		$('#memberModifyPop').css('display', 'block');
		$('#member_text').text(text);
		$('#member_table').find('input').each(function(idx, el){
			if($(el).attr('id') === 'mb_point'){
				$(el).val(0);
			}else{
				$(el).val('');
			}
		});
		$('#mb_level').val(1).prop('selected', true);
	}

	function closeMemberPop(){
		$('#memberModifyPop').css('display', 'none');
	}

	async function memberModify(){
		let regist_bool = true;

        $('#member_table').find('input').each(function(idx, el){
            if($(el).val() == '' && index_no == null){
                alert('모든 정보를 입력해주세요.');
                regist_bool = false;
                return false;
            }
        })

        // 비밀번호 정규식
        if($('#mb_password').val() !== '' && !passwordValidationCheck($('#mb_password').val())){
            alert('비밀번호 정규식에 맞게 입력해주세요.');
            regist_bool = false;
            return false;
        }

        // 이메일 정규식
        if($('#mb_email').val() !== '' && !doCheckEmail($('#mb_email').val())){
            alert('이메일 형식이 올바르지 않습니다.');
            regist_bool = false;
            return false;
        }

        if(regist_bool){
			let id_check = true;
			if(index_no == null) id_check = await doDuplIdCheck();
			
			if(id_check){
				let data = {};
				$('#member_table').find('input[type=text]').each(function(idx, el){
					data[$(el).attr('id')] = $(el).val();
				})
				data.mb_password= $('#mb_password').val();
				data.mb_level = $('#mb_level option:selected').val();
				data.index_no = index_no;
				
				let res = await axios.post('/admin/member/memberModify', data);
				if(res.data.code == 200){
					location.reload();
				}else{
					alert('회원 가입 중 오류가 발생하였습니다.\n관리자에게 문의해주세요.');
				}

			}
        }
	}


    // 아이디 중복 확인
    async function doDuplIdCheck(){
		let id_chk_bool = false;

        let regType = /^[A-Za-z0-9]*$/; 
        if(regType.test($('#mb_id').val()) && $('#mb_id').val().length >= 6){
            let data = {mb_id: $('#mb_id').val()};
            let res = await axios.post('/front/join/id_check', data);
    
            if(!res.data.check){
                id_chk_bool = true;
            }else{
                alert('중복되는 아이디가 존재합니다.\n다른 아이디를 입력해주세요.');
                $('#mb_id').val('');
                id_chk_bool = false;
            }
        }else{
            alert('ID는 6~20자 이내의 영문, 숫자만 가능합니다.');
			id_chk_bool = false;
        }

		return id_chk_bool;

    }

	// 회원 목록 - 작업 설정 클릭 이벤트
	$(document).on('click', '.custom a', async function(){
		let data = {index_no: $(this).data('index')};
		let res = await axios.post('/admin/member/getMemberDetail', data);
		let info = res.data.result[0];
		index_no = info.index_no;
		
		openMemberPop('회원 수정', 'UPDATE');
		for(let key in info){
			$('#'+key).val(info[key]);
		}
	});

	// 회원 count 클릭 이벤트
	$('#count_ul li').find('a').click(function(){
		$('#count_ul').find('a').removeClass('on');
		$(this).addClass('on');
		params.mb_level = $(this).data('level');
		init();
	});

	// 회원 n개씩 보기 클릭 이벤트
	$('#search_count').change(function(){
		params.perPage = $(this).val();
		init();
	});

</script>