<section class="main">
	<div class="title">
		<h2>회원정보 관리</h2>
		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>

	<div class="tab_are mart50">
		<ul class="left">
			<li>
				<select id="search_keycode">
					<option value="id">ID</option>
					<option value="name">회원명</option>
					<option value="hp">핸드폰번호</option>
				</select>
			</li>
			<li>
				<input type="text" placeholder="검색어" id="keyword" onkeyup="if(window.event.keyCode==13){member_search()}"> 
			</li>
			<li>
				<a href="javascript:void(0);" class="on3" onclick="member_search()">검색</a>
				<a href="javascript:void(0);" class="on3" onclick="search_init()">초기화</a>
			</li>
		</ul>
	</div>

	<div class="tab_are noflex">
		<ul class="left noneline">
			<li>
				<p>가입날짜</p>
			</li>
			<li>
				<input type="text" class="w50" id="start_date"><span style="margin: 0 5px">~</span><input type="text" class="w50" id="end_date">
			</li>
			<li>
				<a href="javascript:void(0);" data-func="getTodayDayJS" class="on2">오늘</a>
				<a href="javascript:void(0);" data-func="getYesterDayJS" class="on2">어제</a>
				<a href="javascript:void(0);" data-func="getWeekDayJS" class="on2">일주일</a>
				<a href="javascript:void(0);" data-func="getBeforeMonthDayJS" class="on2">지난달</a>
				<a href="javascript:void(0);" data-func="getMonthDayJS" data-num="1" class="on2">1개월</a>
				<a href="javascript:void(0);" data-func="getMonthDayJS" data-num="3" class="on2">3개월</a>
				<a href="javascript:void(0);" class="on2">전체</a>
			</li>
		</ul>
	</div>

	<div class="table_are">
		<div class="btn_are">
			<ul class="left flex">
				<li>전체 : <b><span id="total_count">0</span></b> 건 조회</li>
				<li>
					<select id="search_count">
						<option value="30">30</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select> 
					<span>개씩 보기</span>
				</li>
			</ul>
			<ul class="right">
				<!-- <li>
					<a href="javascript:void(0);" onclick="openMemberPop('회원 등록', 'REGIST');" class="btn-example"><span><img src="/admin/images/ok.png"></span>신규 등록</a>
				</li> -->
				<li>
					<a href="javascript:void(0);" onclick="route_('/admin/member/memberForm')"><span><img src="/admin/images/ok.png"></span>신규 등록</a>
				</li>
			</ul>
		</div>
		<div class="table">
			<table>
				<colgroup>
					<col class="w50">
					<col class="w200">
					<col>
					<col class="w200">
					<col class="w200">
					<col class="w200">
					<col class="w200">
				</colgroup>
				<thead>
					<th scope="col">번호</th>
					<th scope="col">ID</th>
					<th scope="col">이름</th>
					<th scope="col">회원구분</th>
					<th scope="col">연락처</th>
					<th scope="col">이메일</th>
					<th scope="col">가입일</th>
					<th scope="col">설정</th>
				</thead>
				<tbody id="memberListBody"></tbody>
			</table>
			<div id="pagenation_view" class="pagenation"></div>
		</div>
	</div>

</section>

<script type="text/javascript" src="/admin/js/validation.js"></script>
<script type="text/javascript" src="/admin/js/date.js"></script>
<script>
	/* 
		파라미터 타입
		params : {
			keyword : '키워드',
			paging : {
				perPage: 10, // 페이지 갯수(화면에 보여지는)
				page: 1 // 현재 페이지
			}
		}
	*/

	// 검색 파라미터 (전역변수)
	let params = {
		keyword : $('#keyword').val(),
		keycode : $('#search_keycode').val(),
		date : {},
		paging : pagination
	};

	// 현상 유지 (조건 검색 시) - 추가
	function paramsInit(){
		if(getLocalStorage('search_params') != null){
			// 저장된 파라미터를 불러와 데이터 삽입
			params = JSON.parse(getLocalStorage('search_params'));
			pagination = params.paging;
			$('#search_count').val(params.paging.perPage.toString()).prop('selected', true);
			$('#keyword').val(params.keyword);
		}
		init();
	}
	paramsInit();

	function getParams(){
		params.keyword = $('#keyword').val();
		params.keycode = $('#search_keycode option:selected').val();
		params.date = {
			start : $('#start_date').val(),
			end : $('#end_date').val()
		}
		params.paging = pagination;
		return params;
	}

	async function init(){
		let data = getParams();
		
		setLocalStorage('search_params', JSON.stringify(data)); // params 데이터 저장 - 추가

		// 회원별 count
		// let m_count = await axios.post('/admin/member/getMemberCount', data);
		// for(let key in m_count.data.result[0]){
		// 	$('#'+key).text(m_count.data.result[0][key]);
		// }

		// 회원 list
		let member = await axios.post('/admin/member/getMemberList', data);

		let list = member.data.result;
		let html = '';
		if(list.length > 0){
			list.forEach(item => {
				html += `
					<tr>
						<td scope="col">${item.rownum}</td>
						<td scope="col">${item.mb_id}</td>
						<td scope="col">${item.mb_name}</td>
						<td scope="col">${item.mb_level_nm}</td>
						<td scope="col">${item.mb_hp}</td>
						<td scope="col">${item.mb_email}</td>
						<td scope="col">${item.create_date}</td>
						<td scope="col" class="custom">
							<a href="javascript:void(0);" class="btn-example" data-index=${item.index_no}>
								<span><img src="/admin/images/okb.png"></span> 정보수정
							</a>
						</td>
					</tr>
				`
			});
		}else{
			html = '<tr><td colspan="7">데이터가 존재하지 않습니다.</td></tr>'
		}
		$('#memberListBody').html(html);

		// await pagination(URL, DATA, 현재 페이지, 페이지 갯수, 페이징 갯수, 실행시킬 함수명);
		$('#pagenation_view').html(await Pagination('/admin/member/getMemberCount', params, pagination.page, pagination.perPage, 5, 'init'));

	}

	// 검색 초기화
	function search_init(){
		$('#search_keycode').val('id').prop('selected', true);
		$('#keyword').val('');
		// clearLocalStorage();
		init();
	}

	function member_search(){
		pagination.page = 1; // 페이징 번호 초기화
		init();
	}

	// 회원 목록 - 작업 설정 클릭 이벤트
	$(document).on('click', '.custom a', async function(){
		location.href = '/admin/member/memberForm?index_no='+$(this).data('index')
	});

	// 회원 n개씩 보기 클릭 이벤트
	$('#search_count').change(function(){
		pagination.perPage = $(this).val();
		init();
	});

	// 가입 날짜 조회 이벤트
	$('.on2').click(function(){
		if(typeof $(this).data('func') !== 'undefined'){
			if(typeof(window[$(this).data('func')]) == "function"){
				let execFunc = (new Function("return " + $(this).data('func')))();
				
				let result;
				if($(this).data('func') === 'getMonthDayJS'){
					result = execFunc($(this).data('num'));
				}else{
					result = execFunc();
				}

				$('#start_date').val(result.start);
				$('#end_date').val(result.end);
			}else{
				alert('함수가 존재하지 않습니다.');
			}
		}else{
			$('#start_date').val('');
			$('#end_date').val('');
		}
		init();
	});

</script>