<section class="main">
	<div class="title">
		<h2>회원 신규등록</h2>
		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>

	<div class="table table_are textleft mart50">
		<h2>ID / 비밀번호</h2>
		<div class="table">
			<table id="partner_table">
				<tr>
					<th>ID</th>
					<td colspan="3"><input type="text" placeholder="" id="" size=30></td>
				</tr>
				<tr>
					<th>비밀번호</th>
					<td colspan="3"><input type="text" placeholder="" id="" size=30></td>
				</tr>
				<tr>
					<th>비밀번호 확인</th>
					<td colspan="3"><input type="text" placeholder="" id="" size=30></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="table table_are textleft">
		<h2>개인정보</h2>
		<div class="table">
			<table id="partner_table">
				<tr>
					<th>이름</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="30"></td>
				</tr>
				<tr>
					<th>핸드폰번호</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="30"></td>
				</tr>
				<tr>
					<th>이메일</th>
					<td colspan="3"><input type="text" placeholder="" id="" size="30"></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="btn_confirm">
		<a href="javascript:void(0);" class="btn_submit" style="margin-top: 15px" onclick="">저장</a>
		<a href="javascript:history.back();" class="btn_submit" style="margin-top: 15px">취소</a>
	</div>

</section>

<script type="text/javascript" src="/admin/js/validation.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
</script>