<section class="sub">
    <div class="sub_title">
        <h2>문자단가</h2>
    </div>

    <div class="pay">
        <table>
            <tr>
                <th>SMS-<span>단문</span></th>
                <th>LMS-<span>장문</span></th>
                <th>MMS-<span>포토</span></th>
            </tr>
            <tr>
                <td>20.00<span>원</span></td>
                <td>50.00<span>원</span></td>
                <td>130.00<span>원</span></td>
            </tr>
        </table>
    </div>

    <div class="sub_title">
        <h2>결제 방법</h2>
    </div>
    <div class="paybox">
        <ul>
            <li>
                <h2><b>302-1710-8092-41 (농협)</b></h2>
                <h2>예금주 : 송병욱</h2>
            </li>
            <li>
                <form id="frm" method="POST" action="/front/payment/chargeRequest" onsubmit="return chargeCheckFunc();">
                    <div class="tlb_flex_sms">
                        <span>결제금액 :</span>
                        <input type="text" class="half" name="pf_fee" id="pf_fee"><span>최저금액은 10,000원 입니다.</span>
    
                    </div>
                    <div class="tlb_flex_sms">
                        <span>입금자명 :</span>
                        <input type="text" class="half" name="pf_depositor" id="pf_depositor"><span>무통장 입금 시 입금자명에 아이디를 적으시면 충전과정이 빠르게 처리됩니다.</span>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <div class="btn_pry">
        <a href="javascript:void(0)" onclick="chargeSubmit();" class="btn02 btn">충전요청하기</a>
    </div>
</section>

<script type="text/javascript" src="/front/js/validation.js"></script>
<script>
    function chargeCheckFunc(){
        if($('#pf_fee').val() == ''){
            alert('결제 금액을 입력해주세요.');
            return false;
        }else if(parseInt($('#pf_fee').val().replace(/,/g, '')) < 10000){
            alert('10,000원 이상부터 충전 요청이 가능합니다');
            return false;
        }

        if($('#pf_depositor').val() == ''){
            alert('입금자명을 입력해주세요.');
            return false;
        }

        return true;
    }

    function chargeSubmit(){
        $('#frm').submit();
    }
</script>

