<div id="temp">
	<div class="pop-container">
		<div class="head_pop">
			<h2 class="fc_wht">(가맹점ID) 사용료 상세내역</h2>
			<a href="javascript://;" class="btn-layerClose"><img src="/admin/images/close_pop.png"></a>
		</div>
		<div class="tab_are noflex no_bshadow">
			<ul class="left noneline">
				<li>
					<p>기간</p>
				</li>
				<li>
					<input type="date" class="w50" id="start_date"><span style="margin: 0 5px"> ~ </span><input type="date" class="w50" id="end_date">
				</li>
				<li>
					<a href="#none" class="on2">오늘</a>
					<a href="#none" class="on2">어제</a>
					<a href="#none" class="on2">일주일</a>
					<a href="#none" class="on2">지난달</a>
					<a href="#none" class="on2">1개월</a>
					<a href="#none" class="on2">3개월</a>
					<a href="#none" class="on2">전체</a>
				</li>
			</ul>
		</div>
		<div class="pop_form_are">
			<div class="table">
				<table>
					<tr>
						<th>변동일시</th>
						<th>검색순위</th>
						<th>최초대비</th>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown">
							<b>17</b>
							<b class="down"> [ <span><img src="/admin/images/down.png"></span> 1]</b>
						</td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown">
							<b>17</b>
							<b class="down"> [ <span><img src="/images/up.png"></span> 1]</b>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="pop_btn">
			<a href="#" class="btn-layerClose">확인</a>
		</div>
	</div>
</div>