<div id="temp" class="pop-layer">
	<div class="dim"></div>
	<div class="pop-container">
		<div class="head_pop">
			<h2 class="fc_wht">(가맹점ID) 사용료 상세내역</h2>
			<a href="javascript:layerPopupClose('temp');" class="btn-layerClose"><img src="/admin/images/close_pop.png"></a>
		</div>
		<div class="pop_form_are">
			<ul>
				<li>
					<p>기간</p>
					<input type="date">
				</li>
				<li>
					<input type="date">
				</li>
				<li>
					<a href="#none" class="on">오늘</a>
					<a href="#none" class="on">어제</a>
					<a href="#none" class="on">일주일</a>
					<a href="#none" class="on">지난달</a>
					<a href="#none" class="on">1개월</a>
					<a href="#none" class="on">3개월</a>
					<a href="#none" class="on">전체</a>
				</li>
			</ul>
			<div class="table">
				<table>
					<tr>
						<th>변동일시</th>
						<th>검색순위</th>
						<th>최초대비</th>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown">
							<b>17</b>
							<b class="down"> [ <span><img src="/admin/images/down.png"></span> 1]</b>
						</td>
					</tr>
					<tr>
						<td>2022-10-17 18:08ㅣ13</td>
						<td>17</td>
						<td class="updown">
							<b>17</b>
							<b class="down"> [ <span><img src="/images/up.png"></span> 1]</b>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="pop_btn">
			<a href="#" class="btn-layerClose">확인</a>
		</div>
	</div>
</div>