<section class="sub">
    <div class="sub_title">
        <h2>주소록</h2>
    </div>
    
    <div class="adress_btn"></div>

    <div class="tab_btn_are">
        <div class="input_tab">
            <input type="text">
            <a href="#none">
                <img src="/front/images/search.png">
            </a>
        </div>
        
        <div class="btn">
            <input type="text">
            <a href="#">그룹추가</a>
            <a href="#">그룹삭제</a>
        </div>
    </div>
    
    <div class="tlb center border">
        <table>
            <tr>
                <th class="check"><input type="checkbox"></th>
                <th>그룹명</th>
                <th>소속인원</th>
                <th>그룹명 변경</th>
                <th>추가</th>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>가족</td>
                <td>1명</td>
                <td>
                    <div class="tlb_flex">
                        <input type="text"><button class="btn">변경</button>
                    </div>
                </td>
                <td>
                    <a href="#layer1" class="btn-example btn">연락처 추가</a>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="pagenation">
        <a href="#none" class="start">
            <img src="/front/images/pagenation/ll.png">
        </a>
        <a href="#none" class="pre">
            <img src="/front/images/pagenation/l.png">
        </a>
    
        <a href="#" class="atv">1</a>
        <a href="#" class="">2</a>
        <a href="#" class="">3</a>
        <a href="#" class="">4</a>
        <a href="#" class="">5</a>
    
        <a href="#none" class="next">
            <img src="/front/images/pagenation/r.png">
        </a>
        <a href="#none" class="end">
            <img src="/front/images/pagenation/rr.png">
        </a>
    </div>
    
    <div class="point_pop">
        <h2>
            <span><img src="/front/images/popup/point.svg"></span>
            알아두세요!
        </h2>
        <ul class="list_ul">
            <li>한 그룹에 최대 50,000개의 연락처를 등록하실 수 있습니다.</li>
            <li>그룹명을 클릭하시면 개별주소 리스트를 확인하실 수 있습니다.</li>
        </ul>
    </div>
</section>