<section class="sub">
    <div class="sub_title">
        <h2>080수신거부목록 (자동등록)</h2>
    </div>

    <div class="adress_btn"></div>

    <div class="tab_btn_are">
        <div class="input_tab">
            <input type="text">
            <a href="#none">
                <img src="/front/images/search.png">
            </a>
        </div>
    </div>

    <div class="tlb center border">
        <table>
            <tr>
                <th>차단번호</th>
                <th>등록일</th>
            </tr>
            <tr>
                <td>01000000000</td>
                <td>2023-01-10 16:44:49</td>
            </tr>
        </table>
    </div>

    <div class="pagenation">
        <a href="#none" class="start">
            <img src="/front/images/pagenation/ll.png">
        </a>
        <a href="#none" class="pre">
            <img src="/front/images/pagenation/l.png">
        </a>

        <a href="#" class="atv">1</a>
        <a href="#" class="">2</a>
        <a href="#" class="">3</a>
        <a href="#" class="">4</a>
        <a href="#" class="">5</a>

        <a href="#none" class="next">
            <img src="/front/images/pagenation/r.png">
        </a>
        <a href="#none" class="end">
            <img src="/front/images/pagenation/rr.png">
        </a>
    </div>
    <div class="point_pop">
        <h2>
            <span><img src="/front/images/popup/point.svg"></span>
            알아두세요!
        </h2>
        <ul class="list_ul">
            <li>수신거부번호는 발송시 자동 거부됩니다.</li>
        </ul>
    </div>
</section>