<section class="main">
	<div class="title">
		<h2>문자 내역관리</h2>
		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>

	<div class="tab_are mart50">
		<ul class="left">
			<li>
				<select>
					<option>ID</option>
					<option>회원명</option>
					<option>제목</option>
					<option>내용</option>
					<option>발신번호</option>
					<option>수신번호</option>
				</select>
			</li>
			<li>
				<input type="text" placeholder="검색어" id="keyword" onkeyup="if(window.event.keyCode==13){member_search()}"> 
			</li>
			<li>
				<a href="javascript:void(0);" class="on3" onclick="member_search()">검색</a>
				<a href="#none" class="on3">초기화</a>
			</li>
		</ul>
	</div>

	<div class="tab_are noflex">
		<ul class="left noneline">
			<li>
				<p>기간</p>
			</li>
			<li>
				<input type="text" class="w50"><span style="margin: 0 5px">~</span><input type="text" class="w50">
			</li>
			<li>
				<a href="#none" class="on2">오늘</a>
				<a href="#none" class="on2">어제</a>
				<a href="#none" class="on2">일주일</a>
				<a href="#none" class="on2">지난달</a>
				<a href="#none" class="on2">1개월</a>
				<a href="#none" class="on2">3개월</a>
				<a href="#none" class="on2">전체</a>
			</li>
		</ul>
	</div>

	<div class="table_are">
		<div class="btn_are marl10">
			<ul class="left flex">
				<li>전체 : <b><span id="total_count">0</span></b> 건 조회</li>
				<li>
					<select id="search_count">
						<option value="100">100</option>
						<option value="200">200</option>
						<option value="500">500</option>
					</select> 
					<span>개씩 보기</span>
				</li>
			</ul>
		</div>
		<div class="table">
			<table>
				<colgroup>
					<col class="w50">
					<col class="w70">
					<col class="w100">
					<col class="w100">
					<col class="w120">
					<col class="w200">
					<col>
					<col class="w140">
					<col class="w140">
					<col class="w150">
					<col class="w80">
				</colgroup>
				<thead>
					<th scope="col" class="cheack_are"><input type="checkbox"></th>
					<th scope="col">번호</th>
					<th scope="col">ID</th>
					<th scope="col">회원명</th>
					<th scope="col">회원구분</th>
					<th scope="col">제목</th>
					<th scope="col">내용</th>
					<th scope="col">발신번호</th>
					<th scope="col">수신번호</th>
					<th scope="col">전송시간</th>
					<th scope="col">구분</th>
				</thead>
				<tbody id="pointListBody">
					<tr>
						<td scope="col"><input type="checkbox"></td>
						<td scope="col">1</td>
						<td scope="col">TEST</td>
						<td scope="col">홍길동</td>
						<td scope="col">일반회원</td>
						<td scope="col">테스트문자</td>
						<td scope="col">문자발송 테스트 중입니다.</td>
						<td scope="col">02-0000-0000</td>
						<td scope="col">010-0000-0000</td>
						<td scope="col">2023.01.01 15:00:00</td>
						<td scope="col">단문</td>
					</tr>
				</tbody>
			</table>
			<div id="pagenation_view" class="pagenation"></div>
		</div>
	</div>
</section>

<div id="" class="pop-layer">
	<div class="dim"></div>
	<div class="pop-container">
		<div class="head_pop">
			<h2 id="member_text"></h2>
			<a href="javascript:void(0);" onclick="" class="btn-layerClose"><img src="/admin/images/close_pop.png"></a>
		</div>
		<div class="pop_form_are" id="member_table">
			<ul>
				<li>
					<p>아이디</p>
					<input type="text" placeholder="" id="mb_id">
				</li>
				<li>
					<p>비밀번호</p>
					<input type="text" placeholder="" id="mb_password">
				</li>
			</ul>
			<ul>
				<li>
					<p>이름</p>
					<input type="text" placeholder="" id="mb_name">
				</li>
				<li>
					<p>이메일</p>
					<input type="text" placeholder="" id="mb_email">
				</li>
			</ul>
			<ul>
				<li>
					<p>연락처</p>
					<input type="text" placeholder="" id="mb_hp" maxlength="13">
				</li>
				<li>
					<p>회원 구분</p> 
					<select id="mb_level">
						<option value="1">회원</option>
						<!-- <option value="10">관리자</option> -->
					</select>
				</li>
			</ul>
			<ul>
				<li>
					<p>포인트</p>
					<input type="text" placeholder="" id="mb_point" value="0">
				</li>
			</ul>
		</div>
		<div class="pop_btn">
			<a href="javascript:void(0);" class="okbtn" onclick="">등록</a>
			<a href="javascript:void(0);" class="btn-layerClose" onclick="">취소</a>
		</div>
	</div>
</div>

<script type="text/javascript" src="/admin/js/validation.js"></script>

<script>
</script>