<section class="main">
	<div class="title">
		<h2>문자 관리</h2>
		<div class="time">
			<span id="todayIs"></span>
			<span>
				<b>
					<span><img src="/admin/images/time.png"></span>
					<em id="clock" style="font-style: normal"></em>
				</b>
			</span>
		</div>
	</div>

	<div class="table table_are textleft mart50">
		<div class="table">
			<table>
				<tr>
					<th>문자 구분</th>
					<td>
						<select id="cate_gubun">
							<option value="0">단문</option>
							<option value="1">장문</option>
						</select>
					</td>
				</tr>
				<tr>
					<th rowspan="2">문자 카테고리</th>
					<td class="bb_nolne">
						<input type="text" placeholder="" id="cate_text" maxlength="12" size="20">
						<a href="javascript:void(0);" class="btnstyle marl10" onclick="cateInsert();">카테고리 추가</a>
					</td>
				</tr>
				<tr>
					<td class="td_on">
						<a href="javascript:void(0);" class="btnstyle on">축하<span class="marl10">X</span></a>
						<a href="javascript:void(0);" class="btnstyle">기념<span class="marl10">X</span></a>
						<a href="javascript:void(0);" class="btnstyle">안부<span class="marl10">X</span></a>
					</td>
				</tr>
				<tr>
					<th>문자 내용</th>
					<td>
					<div class="sample mart0">
						<div class="sample_box">
							<textarea></textarea>
							<!-- <p>
								문자메세지 내용입니다.!!<br>
								문자메세지 내용입니다.!!<br>
								문자메세지 내용입니다.!!<br>
								문자메세지 내용입니다.!!<br>
								문자메세지 내용입니다.!!<br>
								문자메세지 내용입니다.!!<br>
								문자메세지 내용입니다.!!<br>
								문자메세지 내용입니다.!!<br>
								문자메세지 내용입니다.!!<br>
								문자메세지 내용입니다.!!<br>
								문자메세지 내용입니다.!!
							</p> -->
						</div>
					</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="btn_confirm">
		<a href="javascript:void(0);" class="btn_submit" onclick="memberModify()">추가</a>
		<a href="javascript:history.back();" class="btn_submit">취소</a>
	</div>

	<div class="tab_are stiky mart50">
		<ul class="left">
			<li><a href="javascript:void(0);" class="on">전체(<span>0</span>)</a></li>
			<li><a href="javascript:void(0);">축하(<span>0</span>)</a></li>
			<li><a href="javascript:void(0);">기념(<span>0</span>)</a></li>
			<li><a href="javascript:void(0);">안부(<span>0</span>)</a></li>
		</ul>
	</div>

	<div class="sample">
		<div class="sample_box">
			<p>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!! 문자메세지 내용입니다.!!문자메세지 내용입니다.!!문자메세지 내용입니다.!!문자메세지 내용입니다.!!문자메세지 내용입니다.!!문자메세지
				내용입니다.!!문자메세지 내용입니다.!!
			</p>
			<div class="sample_btn">
				<a href="#" class="btn01 btn">수정</a>
				<a href="#" class="btn02 btn">삭제</a>
			</div>
		</div>

		<div class="sample_box">
			<p>문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!</p>
			<div class="sample_btn">
				<a href="#" class="btn01 btn">수정</a>
				<a href="#" class="btn02 btn">삭제</a>
			</div>
		</div>

		<div class="sample_box">
			<p>문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!</p>
			<div class="sample_btn">
				<a href="#" class="btn01 btn">수정</a>
				<a href="#" class="btn02 btn">삭제</a>
			</div>
		</div>

		<div class="sample_box">
			<p>문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!</p>
			<div class="sample_btn">
				<a href="#" class="btn01 btn">수정</a>
				<a href="#" class="btn02 btn">삭제</a>
			</div>
		</div>

		<div class="sample_box">
			<p>문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!</p>
			<div class="sample_btn">
				<a href="#" class="btn01 btn">수정</a>
				<a href="#" class="btn02 btn">삭제</a>
			</div>
		</div>

		<div class="sample_box">
			<p>문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!</p>
			<div class="sample_btn">
				<a href="#" class="btn01 btn">수정</a>
				<a href="#" class="btn02 btn">삭제</a>
			</div>
		</div>

		<div class="sample_box">
			<p>문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!</p>
			<div class="sample_btn">
				<a href="#" class="btn01 btn">수정</a>
				<a href="#" class="btn02 btn">삭제</a>
			</div>
		</div>

		<div class="sample_box">
			<p>문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!<br>
				문자메세지 내용입니다.!!</p>
			<div class="sample_btn">
				<a href="#" class="btn01 btn">수정</a>
				<a href="#" class="btn02 btn">삭제</a>
			</div>
		</div>
	</div>

	<div class="pagenation">
		<a href="#none" class="start">
			<img src="/front/images/pagenation/ll.png">
		</a>
		<a href="#none" class="pre">
			<img src="/front/images/pagenation/l.png">
		</a>

		<a href="#" class="atv">1</a>
		<a href="#" class="">2</a>
		<a href="#" class="">3</a>
		<a href="#" class="">4</a>
		<a href="#" class="">5</a>

		<a href="#none" class="next">
			<img src="/front/images/pagenation/r.png">
		</a>
		<a href="#none" class="end">
			<img src="/front/images/pagenation/rr.png">
		</a>
	</div>

</section>

<script type="text/javascript" src="/admin/js/validation.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	async function cateInsert(){
		let data = {
			sc_catename: $('#cate_text').val(),
			sc_gubun: $('#cate_gubun').val()
		};
		let res = await axios.post('/admin/sms/cateInsert', data);
		console.log(res);
		if(res.data.code == 200){
			location.reload();
		}else{
			alert('추가 중 오류가 발생하였습니다.\n관리자에게 문의해주세요.');
		}
	}
</script>